.about{
    margin-left: 80px;
    margin-bottom: 50px;
}

.about img{
    border: 1px solid lightgrey;
    display: inline;
}

div.beauty{
    float: left;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 20px;
}


.beauty h2.firstheader{
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

.blathering{
    float: left;
}

.blathering h2{
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

