.banner figure {
    font-family: unicodsans;
    margin: 0;
}

/* 
   By default show the short caption
   Only posts at small resolutions use 
   the long caption.
*/
.banner figcaption.short{
    margin-top: 0;
    font-size: 1em;
}
.banner figcaption.long{
    display: none;
}

.banner figcaption.short a,
.banner figcaption.short a:visited{
    color: #f21032;
    text-decoration: none;
}
.banner figcaption.short a span.aliens{
    color: #222222;
    font-size: 6em;
}
.banner figure img{
    max-width: 100%;
}

@media screen and (min-width: 1000px){
    .banner{
        margin: 0;
    }
    .banner img{
        float: left;
    }
    .banner figcaption.short{
        padding-top: 150px;
    }
}