h2, strong{
	font-size: 19px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: brandon-grotesque, verdana, sans-serif;
    font-weight: bold;
}

h3{
    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 5px;
	font-family: brandon-grotesque, verdana, sans-serif;
    font-style: italic;
}

.clear{
    clear: both;
}

h1{
	font-family: brandon-grotesque, verdana, serif;
	color: rgb(40, 40, 40);
	font-size: 22px;
	margin-bottom: 40px;
    
}

.text p, .text li{
	font-family: georgia, serif;
	width: 550px;
	line-height: 1.5;
	font-size: 14px;
	color: rgb(40, 40, 40);
}
