.error p{
	font-family: brandon-grotesque, verdana, serif;
	color: rgb(40, 40, 40);
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 50px;
}

.error{
    margin-left: 80px;
}

.elipse{
    letter-spacing: 5px;
}