*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

body {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }

.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

header {
  width: 100%;
  background-image: url("/images/old_mathematics.png"); }
  header img {
    padding: 1rem;
    display: block;
    margin: 0 auto; }

h1 {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #286c8d;
  font-size: 2.6154rem;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 2rem; }

.resources > div, .products > div, .about {
  max-width: 19rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 530px) {
    .resources > div, .products > div, .about {
      max-width: 530px; } }

h2, h3, p {
  line-height: 1.3em; }

.resources hr {
  margin: 0.5rem 0;
  border-top: 1px solid #c7c8c9;
  border-bottom: 0;
  border-right: 0;
  border-left: 0; }
  @media (min-width: 530px) {
    .resources hr {
      margin: 1rem 0; } }
.resources p {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }
  .resources p::after {
    content: "";
    display: table;
    clear: both; }
.resources figure {
  width: 75px;
  height: 75px;
  overflow: hidden;
  float: left;
  padding-right: 0.75rem; }
  .resources figure img {
    width: 100%; }
.resources .ginormous {
  padding: 2rem 0; }
  @media (min-width: 530px) {
    .resources .ginormous figure {
      width: 150px;
      height: 150px;
      padding-right: 1.5rem; }

    .resources .ginormous p {
      font-size: 1.6154rem; }
 }
  .resources .ginormous hr {
    border-bottom: 1px solid;
    border-color: #f3d1c7; }
  .resources .ginormous h2 {
    text-align: center;
    font-size: 2.6154rem;
    color: #3a99c7;
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    text-transform: uppercase; }
    @media (min-width: 530px) {
      .resources .ginormous h2 {
        font-size: 4.2308rem; } }
    .resources .ginormous h2 span {
      line-height: 1.1em;
      display: block; }
    .resources .ginormous h2 span.first {
      letter-spacing: 2px;
      font-weight: 700; }
    .resources .ginormous h2 span.second {
      font-family: 'Nitro A', 'Nitro B', georgia, serif;
      font-weight: 400;
      font-style: normal;
      font-size: 0.67em;
      color: #b93c2f; }
    .resources .ginormous h2 span.third {
      font-size: 0.7em; }
@media (min-width: 530px) {
  .resources .older {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
.resources .older > div {
  padding-bottom: 1rem; }
  @media (min-width: 530px) {
    .resources .older > div {
      width: 249px; } }
  .resources .older > div h3 {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem; }
    .resources .older > div h3 a {
      text-decoration: underline;
      color: #286c8d; }

.products > div {
  border: 1px solid #c7c8c9;
  border-radius: 4px;
  background-image: url("/images/old_mathematics.png");
  margin: 1rem auto;
  transition: all 0.25s linear; }
  .products > div:hover {
    box-shadow: 0 0 10px #286c8d; }
  .products > div a {
    display: block;
    padding: 1rem;
    color: #222222; }
    .products > div a:hover {
      text-decoration: none; }
.products figure {
  padding: 1rem 0;
  text-align: center; }
.products h2 {
  padding: 0 0 3rem 0;
  font-size: 2.6154rem;
  text-transform: uppercase;
  color: #286c8d;
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.1em; }
.products h3 {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6154rem;
  text-align: center;
  color: #286c8d;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px #c7c8c9; }
.products .sketching figure img {
  max-width: 150px;
  -webkit-filter: drop-shadow(0px 2px 4px #222222);
          filter: drop-shadow(0px 2px 4px #222222); }
.products .angular-escape figure.vertical {
  display: none; }
.products p {
  padding-bottom: 1rem; }
@media (min-width: 530px) {
  .products {
    width: 530px;
    margin: 0 auto; }
    .products > div > a::after {
      content: "";
      display: table;
      clear: both; }
    .products h2 {
      font-size: 4.2308rem; }
    .products h3 {
      font-size: 2.6154rem;
      text-align: center;
      padding-bottom: 1rem; }
    .products p {
      font-size: 1.6154rem; }
    .products figure {
      float: left;
      padding-right: 1.5rem; }
    .products .angular-escape figure.horizontal {
      display: none; }
    .products .angular-escape figure.vertical {
      display: block;
      width: 100px; } }

.about h2 {
  font-size: 1.6154rem;
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  padding: 2rem 0;
  text-align: center;
  color: #222222; }
.about figure {
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto; }
  .about figure img {
    width: 100%;
    border: 1px solid #76b8d8; }
.about p {
  padding-bottom: 1rem; }
@media (min-width: 530px) {
  .about h2 {
    font-size: 2.6154rem; }

  .about p {
    font-size: 1.6154rem; }
 }

.vertical-elipse {
  font-size: 10rem;
  color: #c7c8c9;
  text-align: center;
  padding: 4rem 0; }
