*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

body {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }

.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

header {
  width: 100%;
  background-image: url("/images/old_mathematics.png"); }
  header img {
    padding: 1rem;
    display: block;
    margin: 0 auto; }

h1 {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #286c8d;
  font-size: 2.6154rem;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 2rem; }

.resources > div, div.products > div, .about {
  max-width: 19rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 530px) {
    .resources > div, div.products > div, .about {
      max-width: 530px; } }
  @media (min-width: 1250px) {
    .resources > div, div.products > div, .about {
      max-width: 1250px; } }

h2, h3, p {
  line-height: 1.3em; }

.resources hr {
  margin: 0.5rem 0;
  border-top: 1px solid #c7c8c9;
  border-bottom: 0;
  border-right: 0;
  border-left: 0; }
  @media (min-width: 530px) {
    .resources hr {
      margin: 1rem 0; } }
.resources p {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }
  .resources p::after {
    content: "";
    display: table;
    clear: both; }
.resources figure {
  width: 75px;
  height: 75px;
  overflow: hidden;
  float: left;
  padding-right: 0.75rem; }
  .resources figure img {
    width: 100%; }
@media (min-width: 1250px) {
  .resources {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }
.resources .ginormous {
  padding-top: 2rem; }
  @media (min-width: 530px) {
    .resources .ginormous figure {
      width: 150px;
      height: 150px;
      padding-right: 1.5rem; }

    .resources .ginormous p {
      font-size: 1.6154rem; }
 }
  @media (min-width: 1250px) {
    .resources .ginormous {
      width: 530px;
      margin: 0; } }
  .resources .ginormous hr {
    border-bottom: 1px solid;
    border-color: #f3d1c7; }
  .resources .ginormous h2 {
    text-align: center;
    font-size: 2.6154rem;
    color: #3a99c7;
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    text-transform: uppercase; }
    @media (min-width: 530px) {
      .resources .ginormous h2 {
        font-size: 4.2308rem; } }
    .resources .ginormous h2 span {
      line-height: 1.1em;
      display: block; }
    .resources .ginormous h2 span.first {
      letter-spacing: 2px;
      font-weight: 700; }
    .resources .ginormous h2 span.second {
      font-family: 'Nitro A', 'Nitro B', georgia, serif;
      font-weight: 400;
      font-style: normal;
      font-size: 0.67em;
      color: #b93c2f; }
    .resources .ginormous h2 span.third {
      font-size: 0.7em; }
@media (min-width: 530px) {
  .resources .older {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
@media (min-width: 1250px) {
  .resources .older {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding-left: 1rem;
    padding-top: 3rem; } }
.resources .older > div {
  padding: 1rem; }
  @media (min-width: 530px) {
    .resources .older > div {
      width: 249px; } }
  .resources .older > div h3 {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1rem; }
    .resources .older > div h3 a {
      text-decoration: underline;
      color: #286c8d; }

h2.products, h2.resources, h2.about {
  padding-bottom: 3rem;
  font-size: 1rem;
  color: #222222;
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  text-align: center; }
  @media (min-width: 530px) {
    h2.products, h2.resources, h2.about {
      font-size: 1.6154rem; } }

h2.resources span {
  font-family: 'Nitro A', 'Nitro B', georgia, serif;
  font-weight: 400;
  font-style: normal;
  color: #286c8d;
  padding-right: 0.4rem; }

div.products {
  width: 100%;
  background-image: url("/images/old_mathematics.png");
  padding: 2rem 0; }
  div.products > div {
    border: 1px solid #c7c8c9;
    border-radius: 4px;
    background: white;
    margin: 2rem auto;
    transition: all 0.25s linear; }
    div.products > div:hover {
      box-shadow: 0 0 10px #286c8d; }
    div.products > div a {
      display: block;
      padding: 1rem;
      color: #222222; }
      div.products > div a:hover {
        text-decoration: none; }
  div.products figure {
    padding: 1rem 0;
    text-align: center; }
  div.products h3 {
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.6154rem;
    text-align: center;
    color: #222222; }
  div.products .sketching figure img {
    max-width: 150px;
    -webkit-filter: drop-shadow(0px 2px 4px #222222);
            filter: drop-shadow(0px 2px 4px #222222); }
  div.products .angular-escape figure.vertical {
    display: none; }
  div.products p {
    padding-bottom: 1rem; }
  @media (min-width: 530px) {
    div.products > div > a::after {
      content: "";
      display: table;
      clear: both; }

    div.products h3 {
      font-size: 4.2308rem;
      text-align: center;
      padding-bottom: 1rem; }

    div.products p {
      font-size: 1.6154rem; }

    div.products figure {
      float: left;
      padding-right: 1.5rem; }

    div.products .angular-escape figure.horizontal {
      display: none; }

    div.products .angular-escape figure.vertical {
      display: block;
      width: 100px; }
 }

.about figure {
  max-width: 400px;
  padding: 1rem;
  margin: 0 auto; }
  .about figure img {
    width: 100%;
    border: 1px solid #76b8d8; }
.about p {
  padding-bottom: 1rem; }
@media (min-width: 530px) {
  .about p {
    font-size: 1.6154rem; }
 }

.vertical-elipse {
  font-size: 5rem;
  color: #c7c8c9;
  text-align: center;
  padding: 2rem 0; }
  @media (min-width: 530px) {
    .vertical-elipse {
      font-size: 8rem; } }
