*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

body {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222;
  margin: 0; }

figure, h1, h2, h3, h4, p {
  margin: 0; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }

.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

header {
  width: 100%;
  background-image: url("/images/old_mathematics.png"); }
  header figure {
    padding: 1rem;
    text-align: center; }

h1 {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #286c8d;
  font-size: 2.6154rem;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 2rem; }

h2, h3, p {
  line-height: 1.3em; }

div.resources, .about-elipse {
  box-shadow: 0 -6px 6px -6px #222222; }

div.products {
  box-shadow: inset 0 6px 6px -6px #222222; }

div.resources hr {
  margin: 0.5rem 0;
  border-top: 1px solid #c7c8c9;
  border-bottom: 0;
  border-right: 0;
  border-left: 0; }
  @media (min-width: 530px) {
    div.resources hr {
      margin: 1rem 0; } }
div.resources p {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }
  div.resources p::after {
    content: "";
    display: table;
    clear: both; }
div.resources figure {
  width: 75px;
  height: 75px;
  padding-top: 0.5rem;
  overflow: hidden;
  float: left;
  padding-right: 0.75rem; }
  @media (min-width: 1250px) {
    div.resources figure {
      width: 100px; } }
  div.resources figure img {
    width: 100%; }
div.resources .featured {
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 19rem; }
  div.resources .featured hr {
    border-bottom: 1px solid;
    border-color: #f3d1c7; }
  div.resources .featured h2 {
    text-align: center;
    font-size: 2.6154rem;
    color: #3a99c7;
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    text-transform: uppercase; }
    @media (min-width: 530px) {
      div.resources .featured h2 {
        font-size: 4.2308rem; } }
    @media (min-width: 1250px) {
      div.resources .featured h2 {
        font-size: 6.8462rem; } }
  div.resources .featured .featured-cta {
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    background-color: #b93c2f;
    border-radius: 5px;
    padding: 16px;
    padding: 1rem;
    margin-top: 16px;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.6154rem;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 5px #222222;
    line-height: 1rem;
    max-width: 100%;
    font-size: 1.5em;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    clear: both;
    max-width: 12rem;
    margin-left: auto; }
    @media (min-width: 530px) {
      div.resources .featured .featured-cta {
        padding: 1.5rem;
        font-size: 2em;
        max-width: 17rem; } }
    div.resources .featured .featured-cta span {
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
      text-decoration: underline; }
    div.resources .featured .featured-cta span.raquo {
      font-size: 3em;
      margin-top: -0.06em;
      text-decoration: none; }
  @media (min-width: 530px) {
    div.resources .featured {
      max-width: 530px; }
      div.resources .featured figure {
        width: 150px;
        height: 150px;
        padding-right: 1.5rem; }
      div.resources .featured p {
        font-size: 1.6154rem; } }
  @media (min-width: 1250px) {
    div.resources .featured {
      max-width: 737px; }
      div.resources .featured figure {
        width: 300px;
        height: 300px; }
      div.resources .featured p {
        font-size: 2.6154rem; } }
div.resources .ginormous h2 span {
  line-height: 1.1em;
  display: block; }
div.resources .ginormous h2 span.first {
  letter-spacing: 2px;
  font-weight: 700; }
div.resources .ginormous h2 span.second {
  font-family: 'Nitro A', 'Nitro B', georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.67em;
  color: #b93c2f; }
div.resources .ginormous h2 span.third {
  font-size: 0.7em; }
div.resources .older {
  max-width: 19rem;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 530px) {
    div.resources .older {
      max-width: 530px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  @media (min-width: 1250px) {
    div.resources .older {
      max-width: 1057.5px; } }
  div.resources .older > div {
    padding: 1rem 0; }
    div.resources .older > div h3 {
      font-family: 'Archer A', 'Archer B', georgia, serif;
      font-weight: 800;
      font-style: normal;
      font-size: 1rem; }
      div.resources .older > div h3 a {
        text-decoration: underline;
        color: #286c8d; }
    @media (min-width: 530px) {
      div.resources .older > div {
        padding: 1rem;
        width: 249px; } }
    @media (min-width: 1250px) {
      div.resources .older > div {
        width: 352.5px; }
        div.resources .older > div h3 {
          font-size: 1.6154rem; }
        div.resources .older > div p {
          font-size: 1.6154rem; } }

h2.products, h2.resources, h2.about {
  padding-bottom: 3rem;
  font-size: 1rem;
  color: #222222;
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  text-align: center; }
  @media (min-width: 530px) {
    h2.products, h2.resources, h2.about {
      font-size: 1.6154rem; } }

div.products {
  width: 100%;
  background-image: url("/images/old_mathematics.png");
  padding: 4rem 0; }
  div.products > div {
    max-width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    background: white;
    border: 1px solid #c7c8c9;
    margin: 0 auto 2rem auto; }
    div.products > div:last-of-type {
      margin-bottom: 0; }
    @media (min-width: 530px) {
      div.products > div {
        border-radius: 4px;
        max-width: 530px; } }
    @media (min-width: 1250px) {
      div.products > div {
        max-width: 737px;
        padding: 2rem; } }
  div.products figure {
    padding: 0.5rem 0 1rem 0;
    text-align: center; }
  div.products h3 {
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.6154rem;
    text-align: center;
    color: #222222; }
  div.products .sketching figure img {
    max-width: 150px;
    -webkit-filter: drop-shadow(0px 2px 4px #222222);
            filter: drop-shadow(0px 2px 4px #222222); }
  div.products .angular-escape figure.vertical {
    display: none; }
  div.products p {
    padding-bottom: 1rem; }
  div.products .product-cta {
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    background-color: #b93c2f;
    border-radius: 5px;
    padding: 16px;
    padding: 1rem;
    margin-top: 16px;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.6154rem;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 5px #222222;
    line-height: 1rem;
    max-width: 100%;
    font-size: 1em;
    line-height: 1.1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 15rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    clear: both; }
    div.products .product-cta span {
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      text-decoration: underline; }
    div.products .product-cta span.raquo {
      font-size: 4em;
      -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      margin-top: -0.06em;
      text-decoration: none; }
    @media (min-width: 530px) {
      div.products .product-cta {
        font-size: 1.5em;
        max-width: 23rem; } }
    @media (min-width: 1250px) {
      div.products .product-cta {
        font-size: 1.75em;
        margin-right: 0; } }
  div.products .newsletter .product-cta {
    margin-top: 2rem; }
    @media (min-width: 530px) {
      div.products .newsletter .product-cta {
        max-width: 28rem; } }
  div.products .blog .product-cta {
    margin-top: 2rem; }
    @media (min-width: 530px) {
      div.products .blog .product-cta {
        max-width: 20rem; } }
  @media (min-width: 530px) {
    div.products > div::after {
      content: "";
      display: table;
      clear: both; }

    div.products h3 {
      font-size: 4.2308rem;
      text-align: center;
      padding-bottom: 1rem; }

    div.products p {
      font-size: 1.6154rem; }

    div.products figure {
      float: left;
      padding-right: 1.5rem; }

    div.products .angular-escape figure.horizontal {
      display: none; }

    div.products .angular-escape figure.vertical {
      display: block;
      width: 100px; }
 }

div.about {
  max-width: 19rem;
  margin-left: auto;
  margin-right: auto; }
  div.about figure {
    max-width: 400px;
    padding: 1rem;
    margin: 0 auto; }
    div.about figure img {
      width: 100%;
      border: 1px solid #76b8d8; }
  div.about p {
    padding-bottom: 1rem; }
  @media (min-width: 530px) {
    div.about {
      max-width: 530px; }
      div.about p {
        font-size: 1.6154rem; } }

.vertical-elipse {
  font-size: 5rem;
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  color: #c7c8c9;
  text-align: center;
  padding: 2rem 0; }
  @media (min-width: 530px) {
    .vertical-elipse {
      font-size: 8rem; } }
