body {
    margin-left: 80px;
}

.post{
	margin-top: 40px;
}

.post .top h2{
	font-size: 24px;
	color: rgb(20, 20, 20);
	font-family: brandon-grotesque, verdana, sans-serif;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

.post .text{
	margin: 25px 0px;
	font-family: georgia, serif;
	width: 550px;
	line-height: 1.5;
	font-size: 14px;
	color: rgb(40, 40, 40);
}

.post .text p{
	margin-bottom: 15px;
}

.post h3, .post h2, strong{
	font-size: 19px;
	margin-bottom: 15px;
	margin-top: 25px;
	font-family: brandon-grotesque, verdana, sans-serif;
}

strong{
    font-weight: bold;
}

.post ul{
    list-style-type: disc;
}

.post ul li{
    margin: 10px 0px;
}

.clear{
    clear: both;
}
