.post {
    margin-left: 80px;
}

.post{
	margin-top: 40px;
}

.post .top h2{
	font-size: 24px;
	color: rgb(20, 20, 20);
	font-family: brandon-grotesque, verdana, sans-serif;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

.post .text p{
	margin: 25px 0px 15px 0px;
}

.post ul{
    list-style-type: disc;
}

.post ul li{
    margin: 10px 0px;
}