.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

ul {
  padding-left: 0; }

h2, h3, p {
  line-height: 1.3em; }

figure, h1, h2, h3, h4, p, pre, li, body, ul, blockquote {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222;
  margin: 0;
  font-style: normal; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }
  #sharing iframe {
    padding: 0; }

p, li {
  line-height: 1.4em; }

figure, .highlight, ul, p, li, iframe {
  padding-top: 1rem; }

blockquote {
  margin: 1rem 0; }

p:first-of-type, li:first-of-type {
  padding-top: 0; }

h2 + h2,
h2 + p,
h2 + li,
h2 + figure,
h2 + ul,
h2 + .highlight,
h2 + iframe {
  padding-top: 0; }

h3 {
  padding: 1rem 0; }

h3 + h3,
h3 + p,
h3 + li,
h3 + figure,
h3 + ul,
h3 + .highlight,
h3 + iframe {
  padding-top: 0; }

em {
  font-style: italic; }

h2 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.6154rem;
  padding: 1.6154rem 0;
  color: #286c8d; }

h3 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  color: #b93c2f; }
  @media (min-width: 530px) {
    h3 {
      font-size: 1.6154rem; } }

ul, ol {
  padding-left: .5rem; }
  @media (min-width: 530px) {
    ul, ol {
      padding-left: 0; } }

ol > li > :first-child {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal; }

@media (min-width: 530px) {
  p, li {
    font-size: 1.6154rem; }
  h2 {
    font-size: 2.6154rem; } }

.outer {
  padding-top: 2rem; }
  .outer form label, .outer form input {
    display: block; }
  .outer form label {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.6154rem;
    padding-bottom: .5rem; }
  .outer form input.email {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 500;
    font-style: normal;
    padding: .5rem;
    width: 100%;
    max-width: 30rem;
    font-size: 1.6154rem; }

header.top {
  padding: 5rem 1rem 1rem 1rem; }
  header.top .wrapper {
    max-width: 43rem;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 530px) {
      header.top .wrapper {
        padding-left: 0;
        padding-right: 0; } }
  header.top figure {
    max-width: 100px;
    min-width: 80px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-right: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  header.top div.title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  header.top h1 {
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    font-weight: 700;
    color: #286c8d;
    font-size: 4.2308rem;
    text-transform: uppercase;
    line-height: 1; }
  header.top h2 {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800;
    font-style: normal;
    padding: 0; }
  @media (min-width: 530px) {
    header.top h1 {
      font-size: 6.8462rem; }
    header.top h2 {
      font-size: 1.6154rem; } }

main {
  max-width: 43rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 2rem 1rem; }
  @media (min-width: 530px) {
    main {
      padding-left: 0;
      padding-right: 0; } }

h2 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.6154rem; }

.about figure {
  max-width: 43rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 300px; }
  @media (min-width: 530px) {
    .about figure {
      padding-left: 0;
      padding-right: 0; } }
  .about figure img {
    padding: 2px;
    border: 1px solid #286c8d; }

.about iframe {
  padding: 0; }

.skim {
  color: #b93c2f; }

@media (min-width: 530px) {
  p, li {
    font-size: 1.6154rem; }
  h2 {
    font-size: 2.6154rem; } }
