*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  font-family: 'Tungsten A', 'Tungsten B';
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

input.email {
  font-size: 1.6154rem;
  padding: 8px;
  padding: .5rem;
  margin-top: 16px;
  margin-top: 1rem;
  width: 100%;
  max-width: 30rem; }

.rocket {
  width: 100px;
  float: left; }

a {
  color: #3a99c7; }

a:visited {
  color: #76b8d8; }

.body {
  background-color: #f8f8f8;
  padding-bottom: 2rem; }

.bbl_list {
  color: #222222;
  font-family: 'Archer A', 'Archer B';
  font-weight: 500;
  font-style: normal; }

.bbl_category_title {
  font-family: 'Archer A', 'Archer B';
  font-weight: 800;
  font-style: normal;
  font-size: 1.6154rem;
  color: #b93c2f;
  padding: 2rem 0 1rem 0; }

.bbl_title {
  font-size: 1.6154rem;
  padding: 1rem 0 .5rem 0; }

.email-form-box {
  max-width: 43rem;
  margin: 0 auto;
  background: #f8f8f8;
  padding: 1rem;
  border: 1px solid #c7c8c9; }
  .email-form-box h2 {
    padding: 0;
    font-size: 1rem;
    color: #3a99c7; }
  .email-form-box input.email {
    max-width: 26rem; }

.email-form {
  padding-top: 1rem; }

h2 {
  font-family: 'Archer A', 'Archer B';
  font-weight: 800;
  font-style: normal;
  padding: 1rem 0;
  font-size: 1.6154rem; }
  h2 a {
    color: #3a99c7; }

.top {
  background-image: url("/images/old_mathematics.png");
  padding: 3rem 0 2rem 0;
  border-top: 1px solid #c7c8c9; }

.top h1, .top h2, .top form, .body form, .body .bbl_list {
  max-width: 43rem;
  margin: 0 auto; }

h1 {
  padding: 0 0 2rem 0;
  font-size: 6.8462rem;
  color: #3a99c7;
  font-family: 'Tungsten A', 'Tungsten B';
  font-weight: 300;
  text-transform: uppercase; }
  h1 span.first {
    font-weight: 700; }
  h1 span.second {
    font-family: 'Nitro A', 'Nitro B';
    font-weight: 400;
    font-style: normal;
    padding: .5rem 0;
    font-size: 4.2308rem;
    display: block;
    color: #b93c2f; }
  h1 span.third {
    display: block; }
  h1 span.fourth {
    display: block; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }
