.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

ul {
  padding-left: 0; }

h2, h3, p {
  line-height: 1.3em; }

figure, h1, h2, h3, h4, p, pre, li, body, ul, blockquote {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222;
  margin: 0;
  font-style: normal; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }
  #sharing iframe {
    padding: 0; }

p, li {
  line-height: 1.4em; }

figure, .highlight, ul, p, li, iframe {
  padding-top: 1rem; }

blockquote {
  margin: 1rem 0; }

p:first-of-type, li:first-of-type {
  padding-top: 0; }

h2 + h2, h2 + p, h2 + li, h2 + figure, h2 + ul, h2 + .highlight, h2 + iframe {
  padding-top: 0; }

h3 {
  padding: 1rem 0; }

h3 + h3, h3 + p, h3 + li, h3 + figure, h3 + ul, h3 + .highlight, h3 + iframe {
  padding-top: 0; }

em {
  font-style: italic; }

h2 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.6154rem;
  padding: 1.6154rem 0;
  color: #286c8d; }

h3 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  color: #b93c2f; }
  @media (min-width: 530px) {
    h3 {
      font-size: 1.6154rem; } }

ul, ol {
  padding-left: 0.5rem; }
  @media (min-width: 530px) {
    ul, ol {
      padding-left: 0; } }

ol > li > :first-child {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal; }

@media (min-width: 530px) {
  p, li {
    font-size: 1.6154rem; }

  h2 {
    font-size: 2.6154rem; }
 }

h1 {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #3c3c3c;
  text-align: center;
  padding: 3rem 0; }

/* H1 styling */
h1 > span {
  display: block; }

h1 .first {
  font-size: 3.8rem; }

h1 > .middle {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-style: italic;
  font-size: 5.7rem;
  color: #76b8d8; }

h1 > .bottom {
  font-size: 4.5rem; }

h1 > .sketch {
  font-weight: 200;
  font-size: 7.4rem;
  color: #3a99c7; }

/* end h1 styling*/
.topper .header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .topper .header figure {
    width: 250px;
    padding-left: 2rem; }
.topper h2 {
  text-align: center;
  color: #222222;
  max-width: 43rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem; }
  @media (min-width: 530px) {
    .topper h2 {
      padding-left: 0;
      padding-right: 0; } }

.email-form-box {
  padding: 2rem !important; }
  .email-form-box .testimonial {
    text-align: center;
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6154rem;
    padding: 0 0 1rem 0;
    color: #286c8d; }
  .email-form-box .subtext {
    color: #76b8d8;
    font-size: 1rem;
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 500;
    font-style: italic;
    padding: 0.5rem 0 0 1rem; }

.body {
  max-width: 43rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem; }
  .body figure {
    margin: 2rem 0; }
  @media (min-width: 530px) {
    .body {
      padding-left: 0;
      padding-right: 0; } }
  .body .email-form-box {
    border: none;
    margin-top: 2rem; }
  .body h2.first {
    text-align: center;
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800;
    font-style: normal;
    padding: 2rem 0 3rem 0; }

.creative {
  padding: 2rem 0; }
  .creative p {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800;
    font-style: normal; }
  .creative p:first-of-type {
    font-size: 2.6154rem;
    color: #b93c2f; }

figure.pie {
  text-align: center; }
  figure.pie figcaption {
    text-align: center; }

.about figure {
  width: 50%;
  margin: 0 auto; }
