$font-size-1: 1rem;
$font-size-2: 1.6154rem;
$font-size-3: 2.6154rem;
$font-size-4: 4.2308rem;
$font-size-5: 6.8462rem;


@mixin tungsten{
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 300;
}

@mixin nitro {
    font-family: 'Nitro A', 'Nitro B';
    font-weight: 400;
    font-style: normal;
}

@mixin archer {
    font-family: 'Archer A', 'Archer B';
    font-weight: 500;
    font-style: normal;
}

@mixin archer-italic {
    font-family: 'Archer A', 'Archer B';
    font-weight: 500;
    font-style: italic;
}

@mixin archer-bold {
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
    font-style: normal;
}