.about {
    padding-bottom: 2em;
}

.about .beauty img {
    padding: .25em;
    border: 1px solid #777777;
}

.about .beauty {
    padding: 1.5em 0 1.5em 0;
}

.about .beauty .figure {
    display: block;
}

.about .blathering h3 {
    font-size: 2em;
    font-weight: 600;
    padding-bottom: .25em;
    padding-top: 1em;
}

.about .beauty .figcaption,
.about .blathering p {
    line-height: 1.4210526em;
    font-size: 1.1667em;
}

@media screen and (min-width: 600px) {
    .about .banner {
        padding-bottom: 2em;
    }
}

/*
  Freeze the width for larger screens.
*/
@media screen and (min-width: 900px) {
    .about .blathering {
        width: 600px;
    }
}
