.banner{
    margin-bottom: -1em;
}

.banner .figure {
    font-family: unicodsans, verdana, sans-serif;
    margin: 0;
}

/* 
   By default show the short caption
   Only posts at small resolutions use 
   the long caption.
*/
.banner .figcaptionshort{
    margin-top: 0;
    font-size: 1em;
    padding-top: 3em;
}
.banner .figcaptionlong{
    display: none;
    padding-top: 3em;
    text-align: center;
}

.banner .figcaptionshort a,
.banner .figcaptionshort a:visited{
    color: #f21032;
    text-decoration: none;
}
.banner .figcaptionshort a span.aliens{
    color: #222222;
    font-size: 3em;
}
.banner .figure img{
    width: 45%;
    max-width: 100%;
    float: left;
}

@media screen and (min-width: 600px){
    .banner .figure{
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }

    .banner .figure img{
        width: 300px;
    }

    .banner .figcaptionshort{
        font-size: 1.4em;
        padding-top: 4em;
    }
    .banner .figcaptionshort a span.aliens{
        font-size: 4em;
    }
}

@media screen and (min-width: 1000px){
    .banner{
        margin: 0;
    }
    .banner img{
        float: left;
    }
    .banner .figcaptionshort{
        padding-top: 150px;
    }
    .banner .figcaptionshort{
        font-size: 2em;
    }

    .banner figure img{
        width: 300px;
    }
}
