.banner .figure {
    font-family: unicodsans, verdana, sans-serif;
    margin: 0;
}

/* 
   By default show the short caption
   Only posts at small resolutions use 
   the long caption.
*/
.banner .figcaptionshort{
    margin-top: 0;
    font-size: 1em;
}
.banner .figcaptionlong{
    display: none;
}

.banner .figcaptionshort a,
.banner .figcaptionshort a:visited{
    color: #f21032;
    text-decoration: none;
}
.banner .figcaptionshort a span.aliens{
    color: #222222;
    font-size: 6em;
}
.banner .figure img{
    max-width: 100%;
}

@media screen and (min-width: 1000px){
    .banner{
        margin: 0;
    }
    .banner img{
        float: left;
    }
    .banner .figcaptionshort{
        padding-top: 150px;
    }
}
