

/*
At small resolutions the email list box expands
to the edges of the screen. The .footer is
the email list on the home screen.

Look at the padding settings in main.css
for this to make sense.
*/
.home .footer{
    padding: 0
}
.home .footer .section:first-child{
    padding: 0;
}

.articles {
    padding: 3em 0;
}

.articles .lead{
    background-color: #ABD7E0;
    padding: .75em;
    margin-bottom: 2em;
}

.articles .lead h3{
    font-size: 2em;
    padding-bottom: .15em;
    font-weight: 600;
    margin-bottom: 0px;
}

.articles .lead p{
    line-height: 1.6872em;
}

.articles .lead .byline{
    padding-bottom: .5em;
    font-size: .8333em;
}

.articles .byline{
    font-style: italic;
}

.articles .byline .author {
    color: #ff0023;
}

.articles h3{
    font-size: 1.5em;
    font-weight: 100;
    padding: .5em 0;
    text-transform: lowercase;
}

.articles h3.older{
    font-weight: 600;
    font-size: 1em;
}

.articles h3 a,
.articles h2 a{
    color: #222222;
}

.articles .pubdate{
    font-weight: 600;
}

.articles .history h3.title:before{
    content: " \00BB  ";
}

.articles .history .byline,
.articles .history .tldr{
    display: none;
}

/*
  Contact me styling.
*/
#me{
    padding: 3em 0;
}
#me p{
    font-style: italic;
    line-height: 1.4em;
}
#contact li {
    margin-top: 1em;
}


@media screen and (min-width: 555px){
    body{
        font-family: "proxima-nova", verdana, sans-serif;
    }

    .home #email label{
        font-size: 1.5em;
    }
}


@media screen and (min-width: 600px){

    /*one column*/
    .articles .history li{
        float: left;
        clear: left;
        padding-bottom: 3em;

    }
    .articles .history .byline span.byline{
        display: none;
    }
    .articles .history .byline{
        padding-bottom: .75em;
    }
    .articles h3{
        padding: 0 0 .25em 0;
    }
    .articles .tldr{
        line-height: 1.625em;
        text-align: justify;
    }
    .articles .history .byline,
    .articles .history .tldr{
        display: block;
    }
    .articles .history h3.title:before{
        content: none;
    }

}


@media screen and (min-width: 1000px){
        .articles .lead p{
        font-size: 2em;
        text-align: left;
        line-height: 1.4375em;
    }
    .articles .lead{
        padding: 4em 2em;
    }
    .articles .lead h2{
        font-size: 3em;
    }
    .articles .lead .byline{
        font-size: 1em;
    }
}


@media screen and (min-width: 1100px){
    .articles .tldr {
        font-size: 1.125em;
        line-height: 1.8em;
    }

} 


@media screen and (min-width: 1200px){
    /* 
       three columns 
       two gutters at 3% each
       */
    .articles .history li{
        width: 29%;
        float: left;
        clear: none;
        padding-bottom: 5em;
        padding-right: 6%;

    }
    .articles .history li.clearleft{
        clear: left;
    }

    .articles .history li.last{
        width: 29%;
        padding-right: 0;
    }
    .articles .tldr{
        font-size: 1em;
        line-height: 1.435em;
    }


    /* two colums 
       one is 2/3 the other is 1/3
       with a 6% gutter between the two
       */
    .home #subscribe{
        width: 64%;
        margin-right: 6%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .home #me {
        width: 29%;
        padding: 0;
    }
    .home #subscribe, .home #me{
        float: left;
    }
    .articles .tldr{
        text-align: justify;
    }
}

@media screen and (min-width: 1415px){
    .content{
        width: 1130px;
    }
}
