
header.newsletter, main.post {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
}

header figure.rocket img{
    width: 100%;
}

header figure.rocket {
    max-width: 200px;
}

@media screen and (min-width: 500px) {
    header figure.rocket {
        float: right;
        width: 25%;
    }
}

header.newsletter h1 {
    font-family: unicodsans, verdana, sans-serif;
    font-size: 3rem;
}

header.newsletter h2 {
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: 400;
}

main.newsletter h2{
    margin: 2rem 0;
}

header.newsletter {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.mustache {
    content: "";
    display: table;
    clear: both;
}

.newsletter ul li{
    margin: 1rem 0;
    list-style: disc;
}

.newsletter form {
    margin: 2rem 0;
}

.newsletter form input.email {
    font-family: unicodsans, verdana, sans-serif;
    font-size: 1.5rem;
    padding: .5rem;
    width: 100%;
    max-width: 30rem;
    margin: 1rem auto;
}

.newsletter input.button {
    font-family: unicodsans, verdana, sans-serif;
    text-transform: uppercase;
    padding: .5em;
    font-size: 1.5rem;
    background: #e46119;
    border: 1px solid #222;
    color: #eeeeee;
    width: 13rem;
}

.newsletter * , .newsletter *:before, .newsletter *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.newsletter figure.me {
    float: left;
    width: 50%;
    max-width: 200px;
    margin: .5rem 1rem 1rem 0;
}

.newsletter figure.me img {
    border: 2px solid #222;
}

.newsletter .cta {
    border: 1px solid #444;
    padding: 1rem 2rem;
    margin: 2rem 0;
}

.newsletter .cta h2, .newsletter .cta ul, .newsletter .cta form {
    width: 100%;
    max-width: 31rem;
    margin-left: auto;
    margin-right: auto;
}

#newsletter-sharing {
    position: absolute;
    top: 0;
    right: 0;
}

#newsletter-sharing > div {
    float: left;
    padding: 1rem .5rem;
}

.newsletter .skim {
    font-weight: 600;
}

.email-confirm h1 {
    font-family: unicodsans, verdana, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0 2rem 0;
}

.email-confirm p {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}

.email-confirm .twitter-follow-button {
    display: block;
    margin: 0 auto;
}