.post {
    padding-bottom: 5em;
}

.post p img,
.post iframe,
.post embed{
    max-width: 100%;
}

.post .footer{
    padding: 0;
    background-color: #ABD7E0;
}

.no-csscalc .post .note{
    font-weight: italic;
}

/*
  typekit setup
*/
.wf-active .post h2{
    font-weight: 600;
}
.wf-inactive .post h2{
    font-weight: bold;
}

.post .header h2{
    font-family: unicodsans, verdana, sans-serif;
    font-style: normal;
    font-size: 3em;
    font-weight: normal !important; /*fix for firefox*/
    margin: 0;
}
.post .header p{
    font-size: 1em;
    margin: .5em 0;
}
.post .header{
    margin-bottom: 5em;
    padding-top: 5%;
}
.post .header p.byline{
    font-style: italic;
    font-size: .83333em;
}

.wf-active .post .header .pubdate{
    font-weight: 600;
}
.post .header .pubdate{
    font-weight: bold;
}

.post figure{
    margin: 2em 0;
}

.post figure img{
    max-width: 100%;
}

/*facebook and twitter buttons*/
.post #sharing li{
    margin: 0;
}
.post #sharing li.float{
    float: left;
}
.post #sharing li.end{
    margin-left: 15px;
}
.post #sharing .clear{
    clear: both;
}
.post #sharing{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.post #sharing.loaded{
    opacity: 1;
}

.post h2, 
.post h3 {
    font-style: italic;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.33333333em;
}
.post h3{
    font-size: 1.5em;
    font-weight: 100;
}

.post p,
.post article .section li{
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    font-size: 1.1667em;
    line-height: 1.4210526em;
    margin-bottom: 1.4210526em;
}
.post article .section li{
    margin-bottom: 0; /*override the rule above.*/
    position: relative;
    margin-left: 1.5em;
}

.post article .section li:before{
    content: " \00BB\00BB ";
    position: absolute;
    left: -1.5em;
    top: -.15em;
}

.post article .section ul{
    margin-top: 1.4210526em;
    margin-bottom: 1.4210526em;
}

/*show the long caption for smaller screen resolutions.*/
.post .banner .figcaptionlong{
    display: block;
}
.post .banner .figcaptionshort{
    display: none;
}
.post .banner img{
    max-width: 100%;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.post .banner{
    padding-top: 2em;
    background-color: white;
}

.post .strike{
    text-decoration: line-through;
}
 
@media screen and (min-width: 550px){

    .post .section p {
        line-height: 1.5em;
        margin-bottom: 1em;
    }

    
    /*
      add some cushion since we have room.
      First reset the current padding to 0;
      */
    .post .section, .post .header, .post .footer .section, .post .footer{
        padding: 0;
    }
    .post {
        margin: 10%; 
        font-family: "proxima-nova", verdana, sans-serif;
    }

    .post .banner img{
        transform:rotate(0deg);
        -ms-transform:rotate(0deg); /* IE 9 */
        -moz-transform:rotate(0deg); /* Firefox */
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
        -o-transform:rotate(0deg); /* Opera */
        float: none;
    }
    .post .banner .figcaptionlong{
        display: none;
    }
    .post .banner .figcaptionshort{
        display: block;
        font-size: 1em;
        padding-top: 0;
    }
    .post .banner .figure{
        margin-top: 0;
    }
}

@media screen and (min-width: 600px){
    .post {
        max-width: 600px;
        margin: 4em;
    }
}

@media screen and (min-width: 900px){

    .post .section p{
        /*since the width is frozen, I just used pixels here.*/
        line-height: 27px; 
    }

    /*
      Swing notes into the marginalia.
     */
    .csscalc .post .section .note{
        position: absolute;
        left: -webkit-calc(4em +  600px + 1.5em);
        left: -moz-calc(4em +  600px + 1.5em);
        left: calc(4em + 600px + 1.5em);
        width: 6em;
        font-size: .75em;
        font-style: italic;
        line-height: 1.1875em;
        text-align: left;
        padding: 0 1.5em;
        color: #222222;
        margin-top: -1em;
    }
}

/*
  This all gets turned off when the notes
  go into the marginalia. It's easier to
  put it in a media query versus writing
  css to turn everything back to defaults.
*/
@media screen and (max-width: 899px){
    .post .note:before{
        content: "(";
    }
    .post .note:after{
        content: ")";
    }
}

