.sketching{
    padding: 0 5%;
}

.post .sketching h2{
    text-align: center;
    font-style: normal;
    font-size: 2em;
}

.post .sketching h3{
    font-style: normal;
    margin: 1em 0;
}

.sketching .figure{
    width: 50%;
    margin: 2em auto;
}


.sketching figure img,
.sketching .figure img{
    width: 100%;
    margin: 0;
}

.sketching .figure img {
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    -moz-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.post .sketching figure{
    margin: 0;
}

.sketching .get h3{
    margin: 0 0 1em 0
}

.sketching .get ul li{
    position: relative;
    margin-left: 1.5em;
    margin-bottom: .5em;
}

.sketching .get ul li:before{
    content: " \00BB\00BB ";
    position: absolute;
    left: -1.5em;
    top: -.15em;
}


.sketching .cta{
    text-align: center;
}

.sketching .cta #email button{
    background-color: rgb(225,96,72);
    color: #eeeeee;
    padding: 24px;
    padding: 1rem;
}




@media screen and (min-width: 550px){
    .sketching .get ul{
        margin-top: 1em;
    }

    .sketching .figure{
        width: 30%;
        margin: 0 auto;
        float: left;
    }
    
    .sketching .get{
        float: right;
        width: 65%;
        width: calc(70% - 2em);
        margin-left: 2em;
    }
}
