.sketching{
    padding: 0 5%;
}

.post .sketching h3 {
    font-size: 3rem;
    margin: 2rem auto;
    text-align: center;
}

.sketching .figure{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 2rem auto;
    width: 100%;
    padding: 0 1rem;
}


.sketching figure img,
.sketching .figure img{
    width: 100%;
    margin: 0;
}

.sketching .figure img {
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    -moz-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.post .sketching figure{
    margin: 0;
}

.sketching button{
    background-color: rgb(225,96,72);
    color: #eeeeee;
    padding: 24px;
    padding: 1rem;
    font-family: unicodsans, verdana, sans-serif;
    display: block;
    margin: 1rem auto;
    font-size: 2rem;
    text-transform: uppercase;
}

.sketching input, .sketching label {
    display: block;

    margin: 1rem auto;
}

.sketching label {
    font-weight: 600;
    width: 16rem;
}

.sketching input {
    width: 14rem;
    padding: 1rem;
    font-size: 1rem;
}

.sketching div.opt-in {
    width: 14rem;
    margin: 0 auto;
}

.sketching .opt-in > label, .sketching .opt-in > input {
        display: inline;
        width: initial;
        margin: 0;
}

.sketching .opt-in > label {
        line-height: 1.4em;
}

#ck_success_msg p {
    color: rgb(225,96,72);
    font-size: 2rem;
    line-height: 1.1em;
    text-align: center;
}

@media screen and (min-width: 550px){
    .sketching .figure {
        float: left;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 30%;
        margin: 0;
        padding: 0 2rem 2rem 0;
    }

    .sketching .figure::after {
	    content: "";
	    display: table;
	    clear: both;
    }
}
