@import "typography";
@import "colors";

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.drip-tab-container {
    @include archer;
}

.button {
    @include tungsten;
    background-color: $complementary-color;
    border-radius: 5px;
    padding: 16px;
    padding: 1rem;
    margin-top: 16px;
    margin-top: 1rem;
    text-align: center;
    font-size: $font-size-2;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 5px $black;
    line-height: 1rem;
    max-width: 100%;
}

input.email {
    font-size: $font-size-2;
    padding: 8px;
    padding: .5rem;
    margin-top: 16px;
    margin-top: 1rem;
    width: 100%;
    max-width: 30rem;
}

.rocket {
    width: 100px;
    float: left;
}

a {
    color: $dark-base-color;
}
a:visited {
    color: $base-color;
}

.body {
    background-color: $white;
    padding-bottom: 2rem;
}

.bbl_list {
    color: $black;
    @include archer;
}

.bbl_category_title {
    @include archer-bold;
    font-size: $font-size-2;
    color: $complementary-color;
    padding: 2rem 0 1rem 0;
}

.bbl_item {

}

.bbl_title {
    font-size: $font-size-2;
    padding: 1rem 0 .5rem 0;
}

.bbl_description {
//    font-size: $font-size-1;
}

.email-form-box {
    max-width: 43rem;
    margin: 0 auto;
    background: $white;
    padding: 1rem;
    border: 1px solid $rocket-grey;
    h2 {
        padding: 0;
        font-size: $font-size-1;
        color: $dark-base-color;
    }
    input.email {
        max-width: 26rem;
    }
}

.email-form {
    padding-top: 1rem;
}

h2 {
    @include archer-bold;
    padding: 1rem 0;
    font-size: $font-size-2;
    a {color: $dark-base-color;}
}

.top {
    background-image: url("/images/old_mathematics.png");
    padding: 3rem 0 2rem 0;
    border-top: 1px solid $rocket-grey;
    h2 {
//        @include archer-italic;
//        color: $base-color;
    }
}

.top h1, .top h2, .top form, .body form, .body .bbl_list{
    max-width: 43rem;
    margin: 0 auto;
}

h1 {
    padding: 0 0 2rem 0;
    font-size: $font-size-5;
    color: $dark-base-color;
    @include tungsten;
    text-transform: uppercase;
    span.first {
        font-weight: 700;
    }
    span.second {
        @include nitro;
        padding: .5rem 0;
        font-size: $font-size-4;
        display: block;
        color: $complementary-color;
    }
    span.third {
        display: block;
    }
    span.fourth {
        display: block;
    }
}

#sharing {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}