@import "typography";
@import "colors";

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.top {
    margin: 0 auto;
}

h1 {
    margin: 3rem auto;
    font-size: $font-size-5;
    color: $dark-base-color;
    @include tungsten;
    text-transform: uppercase;
    width: 43rem;
    span.first {
        font-weight: 700;
    }
    span.second {
        @include nitro;
        padding: .5rem 0;
        font-size: $font-size-4;
        display: block;
        color: $complementary-color;
    }
    span.third {
        display: block;
    }
    span.fourth {
        display: block;
    }
}