@import "typography";
@import "colors";
@import "base";

.topper {
  margin: 0 auto;
  max-width: 43rem;
  padding-top: 3rem;
  h2 {
    font-size: $font-size-2;
    text-align: left;
  }
  h2:nth-of-type(2) {
    color: $complementary-color;
    font-size: $font-size-3;
    text-align: left;
  }
}

em {
  font-weight: 800;
}

.email-form-box {
  background: white;
  border: 1px solid $complementary-color;
  border-radius: 4px;
  padding: 2rem !important;
  
  input.email {
    max-width: 100%;
  }
  
  .testimonial {
    text-align: center;
    @include archer;
    font-size: $font-size-2;
    padding: 2rem 0 0 0;
    color: $darker-base-color;
  }
  .subtext {
    color: $dark-base-color;
    font-size: $font-size-2;
    @include archer-italic;
    padding: .5rem 0 0 1rem;
  }
}

.body {

    figure {
        margin: 2rem 0;
    }

    figure.arrow {
      display: none;
      margin-top: -150px;
      margin-left: -100px;
      position: absolute;
      @include breakpoint(1000px) {
        display: block;
      }
    }

    @include centered;
    padding-bottom: 2rem;
}

figure.pie {
    text-align: center;
    figcaption {
        text-align: center;
    }
}

.about {
    figure {
        width: 50%;
        margin: 0 auto;
    }
}