@import "typography";
@import "colors";
@import "base";

.topper {
    padding-top: 3rem;

    figure {
      margin: 0 auto;      
      max-width: 40rem;
      text-align: center;      
    }

    h1, h2 {
      text-align: center;
      @include archer-bold;
      padding: 2rem 0 3rem 0;
      text-align: center;
      color: $darker-base-color;
      @include centered;
      font-size: $font-size-2;
    }
}

.email-form-box { 
    padding: 1rem !important;
    input.email {
        max-width: 100%;
    }

    .testimonial {
        text-align: center;
        @include archer;
        font-size: $font-size-2;
        padding: 2rem 0 0 0;
        color: $darker-base-color;
    }
    .subtext {
        color: $base-color;
        font-size: $font-size-1;
        @include archer-italic;
        padding: .5rem 0 0 1rem;
    }
}
.body {

    figure {
        margin: 2rem 0;
    }

    @include centered;

    .email-form-box {
        border: none;
        margin-top: 2rem;
    }

    padding-bottom: 2rem;
}

figure.pie {
    text-align: center;
    figcaption {
        text-align: center;
    }
}

.about {
    figure {
        width: 50%;
        margin: 0 auto;
    }
}