@import "typography";
@import "colors";
@import "angular";

.title {
    @include centered;
    @include clear;
    
    h1, figure {
        @include breakpoint(biggest){
            float: right;
        }
    }
    h1 {
        @include tungsten;
        font-weight: 700;
        color: $black;
        font-size: $font-size-4;
        @include breakpoint(big) {
            font-size: $font-size-5;
        }
        
        text-transform: uppercase;
        > span {
            display: block;
        }
    }
    figure {
        max-width: 13rem;
        padding-right: 2rem;
        img {
            max-width: 100%;
        }
    }
}

.body {
    @include centered;
    padding: 1rem 0;
    
    p {
        margin: 1rem 0;
        @include archer;
        line-height: 1.3em;
        font-size: $font-size-2;
    }
}