@import "typography";
@import "colors";
@import "base";

.body {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.bbl_list {
    color: $black;
    @include archer;
}

.bbl_category_title {
    @include archer-bold;
    font-size: $font-size-2;
    color: $complementary-color;
    padding: 2rem 0 1rem 0;
}

.bbl_title {
    font-size: $font-size-2;
    padding: 1rem 0 .5rem 0;
}

.bbl_description {
//    font-size: $font-size-1;
}

h2 {
    @include archer-bold;
    padding: 1rem 0;
    font-size: $font-size-2;
    a {color: $dark-base-color;}
}

.top > *, .body {
    @include centered;
}

h1 {
    padding: 0 0 2rem 0;
    font-size: $font-size-4;
    line-height: 1em;
    @media screen and (min-width: 700px) {
        font-size: $font-size-5;
    }
    color: $dark-base-color;
    @include tungsten;
    text-transform: uppercase;
    span.first {
        font-weight: 700;
    }
    span.second {
        @include nitro;
        font-size: 2rem;
        line-height: 1.1em;
        @media screen and (min-width: 700px) {
            font-size: $font-size-4;
        }
        display: block;
        color: $complementary-color;
    }
    span.third {
        display: block;
    }
    span.fourth {
        display: block;
    }
}
