---
layout: base
style:
- home.css
---

{% include banner.html %}

<div class="resources">
  <div class="featured ginormous">
    <h2>
      <a href="/angular/ginormous-unstoppable-angular-resource-list/">
        <span class="first">The
        Ginormous and</span>
        <span class="second">Unstoppable</span>
        <span class="third">List of Useful Angular Resources</span>
      </a>
    </h2>
    <hr/>
    <figure>
      <img src="/images/home/shield.png" />
    </figure>
    <p>
      A huge list of Angular articles and resources covering
      every conceivable Angular topic.
    </p>
    <a class="featured-cta" href="/angular/ginormous-unstoppable-angular-resource-list/">
      <span>Check out the list</span><span class="raquo">&raquo;</span>
    </a>
  </div><!-- end featured -->
  
  <div class="separator"></div>
  <h2 class="resources">More freebies and goodies.</h2>
  
  <div class="older">
    
    <div>
      <h3><a href="http://www.sketchingwithcss.com/flexbox-tutorial/">Goodbye Floats and Clearfixes, Hello Flexbox</a></h3>
      <hr/>
      <figure>
        <img src="/images/home/css-sucks.png" />
      </figure>
      <p>
        Add flexbox to your bag of tricks with this series of five, free
        interactive videos.
      </p>
    </div>
    
    <div>
      <h3><a href="http://www.sketchingwithcss.com/samplechapter/cheatsheet.html">The Ultimate Flexbox Cheat Sheet</a></h3>
      <hr/>
      <figure>
        <img src="/images/home/cheatsheet.png" />
      </figure>
      <p>
        All of that tricky, new flexbox syntax in one place.
      </p>
    </div>

    <div>
      <h3><a href="/blog/2014/03/11/real-world-flexbox/">Flexbox in the Real World</a></h3>
      <hr/>
      <figure>
        <img src="/images/flexbox-now/progressive.png" />
      </figure>
      <p>
        Sure, flexbox makes your life easier as a designer and
        developer, but what if you need to support IE8?
      </p>
      <p>
        Learn how to work with flexbox in the real world with this article.
      </p>
    </div>

    <div>
      <h3><a href="/blog/2014/03/07/grunt/">Get Going with Grunt</a></h3>
      <hr/>
      <figure>
        <img src="/images/home/grunt-logo.png" />
      </figure>
      <p>
        If you're going to add Grunt to your bag of tricks, here's a
        getting started guide that gets right to the point.
      </p>
    </div>

    <div>
      <h3><a href="/blog/2013/07/16/sacha-greif/">An Interview with Sacha Greif</a></h3>
      <hr/>
      <figure>
        <img src="/images/home/sacha.jpg" />
      </figure>
      <p>
        Sacha Greif was kind enough to take some time and tell us how
        he became a web designer. We also chat about the history of
        flat design and he shares a few tips for learning web development.
      </p>
    </div>


    <div>
      <h3><a href="/blog/2013/04/28/grokking-css-combinators/">Grokking CSS Combinators A.K.A. Fancy Pants Selectors</a></h3>
      <hr/>
      <figure>
        <img src="/images/home/html5.png" />
      </figure>
      <p>
        Have you ever seen something like ul > li {} or h2 ~ p {} lurking in a stylesheet and wondered why these selectors were written in an alien language? Don't worry, you are not alone. Take ten minutes to read this and you'll never be confused again.
      </p>
    </div>

  </div><!-- older -->
</div><!-- end resources -->

<div class="separator"></div>
<h2 class="products">You might be interested in my books and classes.</h2>

<div class="products">

  <div class="angular-escape">
      <h3>Angular Escape Plan</h3>
      <figure class="horizontal">
        <img src="/images/rocket_horizontal.png" />
      </figure>
      <figure class="vertical">
        <img src="/images/rocket.png" />
      </figure>
      <p>
        Take the sting out of the Angular learning curve with this 8
        hour video course.
      </p>
      <p>
        Designed to fit in one really long day or a week
        of late nights.
      </p>
      <a href="http://training.planningforaliens.com/angular/"
         class="product-cta"><span>Grab your free sample
      videos</span><span class="raquo">&raquo;</span></a>
  </div>
  
  <div class="sketching">
      <h3>Sketching with CSS</h3>
      <figure>
        <img src="/images/book.png" />
      </figure>
      <p>Write CSS as fast as you can sketch.</p>
      <p>Created for designers learning how to design in the
      browser. Filled with the tools you need to get your job
      done as a designer.
      </p>
      <a href="http://www.sketchingwithcss.com/"
         class="product-cta"><span>Download a free, sample
      chapter</span><span class="raquo">&raquo;</span></a>
  </div>
  
  <div class="newsletter">
      <h3>The Invasion</h3>
      <p>A weekly(ish) newsletter for unmustachioed web designers and
      developers.</p>
      <a href="/the-invasion" class="product-cta"><span>
        Join over 10,000 web designers and developers</span><span class="raquo">&raquo;</span></a>
  </div>

  <div class="blog">
      <h3>The ol' blog</h3>
      <p>My personal blog, mostly about business.</p>
      <a href="/blog" class="product-cta"><span>Read the
      archives</span><span class="raquo">&raquo;</span></a>
  </div>
</div><!-- end products -->

<div class="separator about-separator"></div>
<div class="vertical-elipse about-elipse">&#8942;</div>
{% include about.html %}