<h2 class="about">Hey there, I'm Sean.</h2>
<div class="about">
  <p>
    I'm probably a lot like you. I make stuff for the web. I have a CS degree, but the last 8 years of my career have been a more potent teacher.
  </p>
  <figure>
      <img class="me" src="/images/me.jpg" alt="Sean Fioritto"></img>
  </figure>
  <p>
    Recently, I wrote a book on web development called <a
    href="http://www.sketchingwithcss.com/">Sketching with CSS</a>. I
    also run a <a href="http://training.planningforaliens.com/">training company for developers</a>. I'm an <a href="http://coding.smashingmagazine.com/2013/11/18/the-future-of-video-in-web-design/">author in Smashing Magazine</a> and I've written some <a href="https://github.com/sfioritto/charlie.js">cool open source projects</a>.
  </p>
  <p>
    Today, I'm an entrepreneur. In the not so distant past I did the usual 9-5 thing doing web development for a couple of big companies.
  </p>
  
  <p>
    I'd love to meet you on Twitter. 
  </p>
  <p>
    <a href="https://twitter.com/sfioritto" class="twitter-follow-button" data-show-count="true" >Follow @sfioritto</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </p>

  <p>
    You can also email me: sean@planningforaliens.com.
  </p>
</div>
