<div class="about text">

 
<div class="beauty">
  <h2 class="firstheader">
  This is me.
  </h2>
  <img src="/images/beer.jpg" alt="sean fioritto" title="beer"></img>
</div>

<div class="blathering">
  <h1>
  all about me, sean fioritto
  </h1>

  <h2 class="firstheader">
  Programming
  </h2>
  <p>
  I've been programming since I was 12. That was some time ago. I use Python and Javascript to <a href="https://github.com/sfioritto">make cool things</a>.
  </p>
  <h2>
  Career
  </h2>
  <p>
  I work for an unecessarily secretive and mysterious industrial supply company. Before this job I worked for a few years and (way too many hours) for a <a href="http://www.accenture.com">consulting company</a>. I also have one of those fancy degree things in <a href="http://www.cs.arizona.edu/">computer science</a>.
  </p>
  <h2>
  Family
  </h2>
  <p>
  I'm married to the lovely and talented <a href="http://www.bethfioritto.com/">Beth Fioritto</a>. She blogs about teaching in urban schools and overly ambitious home improvement projects <a href="http://bethfioritto.blogspot.com/">here</a>.
  </p>
  <div class="clear"></div>
</div>
<div class="clear"></div>
</div>
