<div class="angular-escape outer">
  <figure class="rocket">
    <img src="/images/rocket.png" />
  </figure>

  <form action="https://www.getdrip.com/forms/4460229/submissions" method="post" target="_blank" data-drip-embedded-form="3061">
      <label for="fields[email]">Email Address</label><br />
      <input class="email" type="text" name="fields[email]" value="" />
      <input class="button" type="submit" name="submit" value="Start your free lessons" data-drip-attribute="sign-up-button" />
  </form>
</div>
