<div class="sketching outer">
  
  <h3>Sketching with CSS will teach you how to design in the browser.</h3>

    <figure>
      <a href="http://www.sketchingwithcss.com"><img src="/images/book.png" alt="Sketching with CSS"></img></a>
    </figure>
    
    <p>
      Blow away your clients with your fast turnaround time. Bend CSS layouts to your will. Show your clients comps they can actually click on. 
    </p>
    <p>
      Get a free chapter and an 8 day email course on rapid
      prototyping in the browser.
    </p>
    
    <form action="https://www.getdrip.com/forms/8591834/submissions" method="post" target="_blank" data-drip-embedded-form="8591834">
      <label for="fields[email]">Email</label>
      <input class="email" type="email" name="fields[email]" value="" />
      <input class="button" 
             type="submit" 
             name="submit" 
             value="Get Your Chapter" data-drip-attribute="sign-up-button" />
    </form>
      
</div>
