<div class="sketching">

  <div id="cta1" class="cta">
    <h3>Sketching with CSS will teach you how to design in the browser.</h3>

    <div class="figure"><figure>
      <a href="http://www.sketchingwithcss.com"><img src="/images/book.png" alt="Sketching with CSS"></img></a>
    </figure></div>

    <p>
      Blow away your clients with your fast turnaround time. Bend CSS layouts to your will. Show your clients comps they can actually click on. 
    </p>
    <p>Get a free chapter and a video course on how you can use flexbox to get the layouts you want without the struggle.</p>
    
    <div id='ck_success_msg' class='fade' style='display:none;'>
      <p>Thanks! Now check your email for the sample chapter.</p>
    </div>
      
    <!--  Form starts here	-->
    <form id="ck_subscribe_form" class="ck_subscribe_form email" action="https://convertkit.com/app/landing_pages/295/subscribe" data-remote="true">
      <input type="hidden" name="id" value="295" id="landing_page_id"></input>
      <p class="ck_errorArea"></p>
      <div class="ck_control_group">
        <label class="ck_label block" for="ck_firstNameField">First Name</label>
        <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField" required></input>
      </div>	
      <div class="ck_control_group">
        <label class="ck_label block" for="ck_emailField">Email Address</label>
        <input type="email" name="email" class="ck_email_address" id="ck_emailField" required></input>
      </div>
      <div class="opt-in">
        <input class="optIn ck_course_opted" name='course_opted' type="checkbox" id="optIn" checked />
        <label>
          I'd like to receive the free flexbox course by email.
        </label>
      </div>
      <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
        Get your free video
      </button>
    </form>

  </div>
  
  <div class="clear"></div>
  
</div>
