<div class="sketching">
  <h2>Write CSS as fast as you can sketch.</h2>
  <div class="figure"><figure>
    <a href="http://www.sketchingwithcss.com"><img src="/images/book.png" alt="Sketching with CSS"></img></a>
  </figure></div>
  <div class="get">
    <ul>
      <li>Blow away your clients with your fast turnaround time.</li>
      <li>Bend CSS layouts to your will.</li>
      <li>Show your clients comps they can actually click on.</li>
      <li>Get up and running quickly without reading five more programming books.</li>
    </ul>
  </div>
  <div class="clear"></div>
  <div id="cta1" class="cta">
    <h3>Get a free chapter and a video course on flexbox.</h3>
    
    <form action="http://planningforaliens.us4.list-manage.com/subscribe/post?u=e35ff45f3fa9775e481b8e515&amp;id=4c290c222e" method="post" id="email" name="mc-embedded-subscribe-form target="_blank" novalidate>
      <input type="email" placeholder="Enter your email address" value="" name="EMAIL" id="mce-EMAIL" />
      <input type="hidden" checked="yes" value="1" name="group[13897][1]" id="mce-group[13897]-13897-0" />
      <input type="hidden" name="SEGMENT" id="SEGMENT" value="flexbox" />
      <button>Get your free video lesson</button>
    </form>

    
  </div>
  
  <div class="clear"></div>
  
</div>
