<!-- Begin MailChimp Signup Form -->
<div id="subscribe">

  <form action="https://www.getdrip.com/forms/3128974/submissions"
  method="post" target="_blank" data-drip-embedded-form="3068"
  class="validate" id="email">
        <label for="mce-email">If you liked this, <span class="emphatic">you should try my email list.</span></label>
        <input type="email" name="fields[email]" value=""
               class="required email" />
        <button>sign me up</button>
      </form>
s</div>
<!--End mc_embed_signup-->
