<!-- Begin MailChimp Signup Form -->
<div id="subscribe">
  <form action="http://nymbus.us4.list-manage.com/subscribe/post?u=e35ff45f3fa9775e481b8e515&amp;id=4c290c222e" method="post" id="email" name="mc-embedded-subscribe-form" class="validate" novalidate>
    
    <label for="mce-email">If you liked this, <span class="emphatic">you should try my email list.</span></label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-email"/>
    <button>sign me up</button>

  </form>
</div>
<!--End mc_embed_signup-->