.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

ul {
  padding-left: 0; }

h2, h3, p {
  line-height: 1.3em; }

figure, h1, h2, h3, h4, p, pre, li, body, ul, blockquote {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222;
  margin: 0;
  font-style: normal; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }
  #sharing iframe {
    padding: 0; }

p, li {
  line-height: 1.4em; }

figure, .highlight, ul, p, li, iframe {
  padding-top: 1rem; }

blockquote {
  margin: 1rem 0; }

p:first-of-type, li:first-of-type {
  padding-top: 0; }

h2 + h2, h2 + p, h2 + li, h2 + figure, h2 + ul, h2 + .highlight, h2 + iframe {
  padding-top: 0; }

h3 {
  padding: 1rem 0; }

h3 + h3, h3 + p, h3 + li, h3 + figure, h3 + ul, h3 + .highlight, h3 + iframe {
  padding-top: 0; }

em {
  font-style: italic; }

h2 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.6154rem;
  padding: 1.6154rem 0;
  color: #286c8d; }

h3 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  color: #b93c2f; }
  @media (min-width: 530px) {
    h3 {
      font-size: 1.6154rem; } }

ul {
  padding-left: 0.5rem; }
  @media (min-width: 530px) {
    ul {
      padding-left: 0; } }

@media (min-width: 530px) {
  p, li {
    font-size: 1.6154rem; }

  h2 {
    font-size: 2.6154rem; }
 }

.title {
  max-width: 43rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (min-width: 530px) {
    .title {
      padding-left: 0;
      padding-right: 0; } }
  .title h1 {
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 300;
    line-height: 1;
    font-weight: 700;
    color: #222222;
    font-size: 2.6154rem;
    text-transform: uppercase; }
    .title h1 > span {
      display: block; }
  .title figure {
    max-width: 8rem;
    padding-right: 2rem; }
    .title figure img {
      max-width: 100%; }
  @media (min-width: 475px) {
    .title h1 {
      font-size: 6.8462rem; }

    .title figure {
      max-width: 13rem; }
 }

.body {
  max-width: 43rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem; }
  @media (min-width: 530px) {
    .body {
      padding-left: 0;
      padding-right: 0; } }

.hide {
  display: none; }

.hide-add {
  transition: opacity 1s;
  opacity: 0; }

.hide-remove {
  transition: opacity 1s;
  opacity: 0; }

.hide-remove-active {
  opacity: 1; }

.myHideExample {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 2rem;
  border: 1px solid #c7c8c9; }
  .myHideExample .message {
    height: 4rem; }
    .myHideExample .message p {
      padding: 1rem 0; }
