.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

ul {
  padding-left: 0; }

h2, h3, p {
  line-height: 1.3em; }

figure, h1, h2, h3, h4, p, pre, li, body, ul, blockquote {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222;
  margin: 0;
  font-style: normal; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }
  #sharing iframe {
    padding: 0; }

p, li {
  line-height: 1.4em; }

figure, .highlight, ul, p, li, iframe {
  padding-top: 1rem; }

blockquote {
  margin: 1rem 0; }

p:first-of-type, li:first-of-type {
  padding-top: 0; }

h2 {
  padding: 2rem 0; }

h2 + h2, h2 + p, h2 + li, h2 + figure, h2 + ul, h2 + .highlight, h2 + iframe {
  padding-top: 0; }

.body {
  padding-bottom: 2rem; }

.bbl_list {
  color: #222222;
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

.bbl_category_title {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.6154rem;
  color: #b93c2f;
  padding: 2rem 0 1rem 0; }

.bbl_title {
  font-size: 1.6154rem;
  padding: 1rem 0 0.5rem 0; }

h2 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: normal;
  padding: 1rem 0;
  font-size: 1.6154rem; }
  h2 a {
    color: #3a99c7; }

.top > *, .body {
  max-width: 43rem;
  margin: 0 auto; }

h1 {
  padding: 0 0 2rem 0;
  font-size: 4.2308rem;
  line-height: 1em;
  color: #3a99c7;
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 6.8462rem; } }
  h1 span.first {
    font-weight: 700; }
  h1 span.second {
    font-family: 'Nitro A', 'Nitro B', georgia, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.1em;
    display: block;
    color: #b93c2f; }
    @media screen and (min-width: 700px) {
      h1 span.second {
        font-size: 4.2308rem; } }
  h1 span.third {
    display: block; }
  h1 span.fourth {
    display: block; }
