*, *::before, *::after {
  box-sizing: border-box; }

.drip-tab-container {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal; }

body {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #222222;
  margin: 0; }

h2, h3, p {
  line-height: 1.3em; }

figure, h1, h2, h3, h4, p {
  margin: 0; }

img {
  max-width: 100%; }

a {
  color: #3a99c7;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #76b8d8; }

#sharing {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em; }

.button {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  background-color: #b93c2f;
  border-radius: 5px;
  padding: 16px;
  padding: 1rem;
  margin-top: 16px;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.6154rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 1px 1px 5px #222222;
  line-height: 1rem;
  max-width: 100%; }

header {
  width: 100%;
  background-image: url("/images/old_mathematics.png"); }
  header figure {
    padding: 1rem;
    text-align: center; }

.banner-title {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #286c8d;
  font-size: 2.6154rem;
  text-align: center;
  letter-spacing: 0.1em;
  padding-bottom: 2rem; }

.posts {
  max-width: 737px;
  margin: 0 auto;
  list-style: none;
  padding: 2rem 1rem; }
  .posts li {
    padding-top: 2rem; }
    .posts li:first-of-type {
      padding-top: 0; }
    .posts li .date {
      font-family: 'Archer A', 'Archer B', georgia, serif;
      font-weight: 500;
      font-style: italic;
      color: #626262;
      padding: 0.5rem 0;
      font-size: 1rem; }
    @media (min-width: 530px) {
      .posts li .title, .posts li p {
        font-size: 1.6154rem; } }
