$font-size-1: 1rem;
$font-size-2: 1.6154rem;
$font-size-3: 2.6154rem;
$font-size-4: 4.2308rem;
$font-size-5: 6.8462rem;


@mixin whitney {
    font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
    font-weight: 400; 
}

@mixin archer-bold {
    font-family: 'Archer A', 'Archer B';
    font-weight: 800;
}

@mixin archer {
    font-family: 'Archer A', 'Archer B';
    font-weight: 500;
}

@mixin archer-light {
    font-family: 'Archer A', 'Archer B';
    font-weight: 400;
}

@mixin tungsten{
    font-family: 'Tungsten A', 'Tungsten B';
    font-weight: 400;
}
