@import 'colors';
@import 'fonts';

body {
    background-image: url("../old_mathematics.png");
}

div.container {
    width: 100%;
    text-align: center;
//    max-width: 40rem;

    figure {
        width: 100px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }

}

h1, p, iframe {
    width: 100%;
    text-align: center;
    color: $dark-complementary-color;
}

iframe {
    display: block;
    margin: 1rem auto;
}

p {
    @include archer;
    font-size: $font-size-2;
    margin: 1rem initial;
}

h1 {
    @include tungsten;
    text-transform: uppercase;
    margin: 2rem auto;
    font-size: $font-size-5;
}

.emphasis {
    @include archer-bold;
    font-style: italic;
    color: $complementary-color;
}