@import 'colors';
@import 'fonts';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    @include whitney;
    background-image: url("old_mathematics.png");
}

@mixin clearfix {
    &::after {
        display: table;
        content: " ";
        clear: both;
    }
}

@mixin breakpoint($point) {
  @if $point == big {
    @media (min-width: 475px) { @content; }
  }
  @else if $point == bigger {
    @media (min-width: 530px) { @content; }
  }
  @else if $point == biggest {
    @media (min-width: 725px) { @content; }
  }

}


header {

    padding: 3rem 0 2rem 0;

    background-image: url("background.png");
    background-repeat: repeat-x;
    background-attachment: fixed;

    
    h1 {
        @include archer-bold;
        margin: 0 auto;
        font-size: $font-size-2;
        text-align: left;
        padding: 0 1rem;
        color: $dark-complementary-color;

        span {
            display: block;
            @include tungsten;
            font-weight: 700;
            text-transform: uppercase;
            font-size: $font-size-4;
        }
    }

}

.banner {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
//    position: relative;
//    margin-bottom: -29rem;
    
    h2 {
        @include tungsten;
        font-size: 2rem;
        font-weight: 400;
        font-style: normal;
        padding: 0 1rem;
        text-transform: uppercase;
        width: 18rem;
        line-height: 1.3em;
        flex: 0 1 auto;
        text-shadow: 1px 1px $rocket-grey;
        color: $dark-complementary-color;

        @include breakpoint(big) {
            font-size: $font-size-3;
            width: 20rem;
        }
        
        @include breakpoint(bigger) {
            font-size: $font-size-4;
            width: 20rem;
        }
    }
    
    .rocket {
        width: 215px;
        min-width: 150px;
        flex: 0 2 auto;
        padding: 2rem 1rem;
    }
}

main {
    width: 100%;
    margin: 0 auto;
    background: white;
    border-radius: 2px;
    border: 1px solid $rocket-grey;
    padding: 1rem;
}

main > *, h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
}

p, h2 {
    @include archer;
    color: $dark-complementary-color;
    font-size: $font-size-2;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4em;

    @include breakpoint(bigger) {
        line-height: 1.6em;
    }
}

h2, .bold {
    @include archer-bold;
    font-style: italic;
}

em {
    @include archer-bold;
    color: $complementary-color;
}

h2.big {

    @include breakpoint(bigger) {
        line-height: 1.3em;
        font-size: $font-size-3;
    }
}

h2.bigger {

    color: $complementary-color;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include breakpoint(bigger) {
        line-height: 1.3em;
        font-size: $font-size-3;
    }
}

.octo {
    width: 30%;
    min-width: 200px;
    margin: 1rem auto;
    float: right;
    img {
        width: 100%;
    }
}

.quote {

    padding-left: 1.5rem; //room for hanging quote
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    span.said::before {
        content: open-quote;
        font-size: $font-size-4;
        position: absolute;
        margin-left: -.6em;
        margin-top: .1em;
    }
    span.said::after {
        content: close-quote;
    }

    span.said {
        font-style: italic;
    }
    
    span.by {
        @include archer-bold;
    }

    @include breakpoint(biggest) {
        padding-left: 0;
        max-width: 40rem;
    }
}

.cta {
    form {
        display: none;
    }
}

