@import 'colors';
@import 'fonts';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    @include whitney;
    background-image: url("stardust.png");
}

@mixin clearfix {
    &::after {
        display: table;
        content: " ";
        clear: both;
    }
}

main {
    width: 100%;
    margin: 0 auto;
}

.top {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 0 1rem;
    max-width: 19rem;
    width: 100%;
    font-size: $font-size-3;
    text-align: center;
    margin: 1rem 0;
    float: left;
    color: $dark-complementary-color;
    @include tungsten;
    font-weight: 400;
    text-transform: uppercase;
}

h2.escape {
    @include archer-bold;
    color: $complementary-color;
    font-size: $font-size-3;
    text-align: center;
    margin: 1rem 0;
    line-height: 1em;
}

.rocket {
    padding: 1rem;
    max-width: 100%;
    width: 200px;
}

h2, p {
    color: $rocket-grey;
}

h2 {
    @include archer-bold;
    font-style: italic;
    margin: 2rem 0;
    font-size: $font-size-2;
    color: $light-complementary-color;
    line-height: 1.2em;
    text-align: center;
}

p {
    max-width: 30rem;
    width: 100%;
    line-height: 1.4em;
    margin: 1rem 0;
}

em {
    font-weight: 600;
}

main {
    padding: 1rem;
}
