*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  font-weight: 400;
  background-image: url("grey.png");
  background-image: url("old_mathematics.png"); }

header {
  padding: 3rem 0 2rem 0;
  background-image: url("background.png");
  background-repeat: repeat-x;
  background-attachment: fixed; }
  header h1 {
    font-family: 'Archer A', 'Archer B';
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
    max-width: 42rem;
    margin: 0 auto;
    font-size: 1.6154rem;
    text-align: left;
    padding: 0 1rem;
    color: #371211; }
    header h1 span {
      display: block;
      font-family: 'Tungsten A', 'Tungsten B';
      font-weight: 400;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 4.2308rem; }

.banner .float {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative; }
.banner h2 {
  font-family: 'Tungsten A', 'Tungsten B';
  font-weight: 400;
  font-size: 2rem;
  font-weight: 400;
  padding: 0 1rem;
  text-transform: uppercase;
  width: 8rem;
  line-height: 1.3em;
  flex: 2 1 0;
  max-width: 345px;
  text-shadow: 1px 1px #c7c8c9;
  color: #371211; }
.banner .rocket {
  max-width: 215px;
  flex: 1 1 auto;
  padding: 2rem 1rem; }

main {
  width: 100%;
  margin: 0 auto;
  max-width: 42rem; }

h2, p {
  color: #371211;
  font-size: 1.6154rem; }

h2 {
  font-size: 2.6154rem; }

p {
  width: 100%;
  line-height: 1.4em;
  margin: 1rem 0; }

em {
  font-weight: 600; }

.cta form {
  display: none; }

@media screen and (min-width: 400px) {
  .banner h2 {
    font-size: 4.2308rem; } }
