*, *::before, *::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  font-weight: 400;
  background: white;
  padding: 16px;
  padding: 1rem; }

header {
  padding: 48px 0 32px 0;
  padding: 3rem 0 2rem 0;
  background-image: url("../background.png");
  background-size: 100%;
  background-attachment: fixed;
  margin-left: -16px;
  margin-left: -1rem;
  margin-right: -16px;
  margin-right: -1rem;
  margin-top: -16px;
  margin-top: -1rem; }
  header h1 {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800;
    margin: 0 auto;
    font-size: 1.6154rem;
    text-align: left;
    padding: 0 16rem;
    padding: 0 1rem;
    color: #371211;
    width: 100%;
    max-width: 640px;
    max-width: 40rem; }
    header h1 span {
      display: block;
      font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
      font-weight: 400;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 4.2308rem; }

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../old_mathematics.png");
  margin-left: -16px;
  margin-left: -1rem;
  margin-right: -16px;
  margin-right: -1rem;
  border-bottom: 1px solid #c7c8c9;
  /*for browsers without flexbox*/
  text-align: center; }
  .banner h2 {
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    width: 160px;
    width: 12rem;
    font-weight: 400;
    font-style: normal;
    padding: 0 16px;
    padding: 0 1rem;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.3em;
    flex: 0 1 auto;
    text-shadow: 1px 1px #c7c8c9;
    color: #371211; }
    @media (max-width: 320px) {
      .banner h2 {
        margin: 0;
        padding: 0;
        flex: 1; } }
    @media (min-width: 400px) {
      .banner h2 {
        text-align: left;
        font-size: 32px;
        font-size: 2rem;
        width: 18rem; } }
    @media (min-width: 530px) {
      .banner h2 {
        font-size: 4.2308rem;
        line-height: 1.2em;
        width: 320px;
        width: 20rem;
        margin-left: 2rem; } }
  .banner .rocket, .banner h2 {
    display: inline-block;
    vertical-align: middle; }
  .banner .rocket {
    flex: 0 2 150px;
    width: 200px;
    padding: 32px 16px;
    padding: 2rem 1rem; }
    .banner .rocket img {
      width: 100%; }
    @media (max-width: 320px) {
      .banner .rocket {
        min-width: 100px;
        max-width: 100px;
        width: 100px; } }

main {
  width: 100%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 16px 0;
  padding: 1rem 0; }

main > * {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  max-width: 48rem; }

p, h2 {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  color: #371211;
  font-size: 1rem;
  width: 100%;
  margin-top: 16px;
  margin-top: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 1.4em; }
  @media (min-width: 400px) {
    p, h2 {
      font-size: 1.6154rem; } }
  @media (min-width: 530px) {
    p, h2 {
      line-height: 1.6em; } }

h2, .bold {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: italic; }

em {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  color: #b93c2f; }

@media (min-width: 530px) {
  h2.big {
    line-height: 1.3em;
    font-size: 2.6154rem; } }

h2.bigger {
  color: #b93c2f;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem; }
  @media (min-width: 530px) {
    h2.bigger {
      line-height: 1.3em;
      font-size: 2.6154rem; } }

.octo {
  width: 30%;
  min-width: 150px;
  margin: 16px auto;
  margin: 1rem auto;
  float: right; }

.quote {
  padding-left: 24px;
  padding-left: 1.5rem;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem; }
  .quote span.said::before {
    content: open-quote;
    font-size: 4.2308rem;
    position: absolute;
    margin-left: -0.6em;
    margin-top: 0.1em; }
    @media (min-width: 750px) {
      .quote span.said::before {
        font-size: 6.8462rem; } }
  .quote span.said::after {
    content: close-quote; }
  .quote span.said {
    font-style: italic; }
  .quote span.by {
    font-family: 'Archer A', 'Archer B', georgia, serif;
    font-weight: 800; }
  @media (min-width: 750px) {
    .quote {
      padding-left: 0;
      max-width: 640px;
      max-width: 40rem; } }

.logos {
  text-align: center;
  margin: 32px auto;
  margin: 2rem auto; }
  .logos > img {
    width: 70px;
    padding-right: 16px;
    padding-right: 1rem; }

.escape-cta {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
  font-size: 2.6154rem;
  margin: 48px auto;
  margin: 3rem auto; }
  @media (min-width: 475px) {
    .escape-cta {
      font-size: 4.2308rem; } }

@media (min-width: 475px) {
  .cta .rocket, .cta form {
    display: inline-block; } }
@media (min-width: 475px) {
  .cta {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; } }
.cta .rocket {
  width: 100px;
  margin: 16px auto;
  margin: 1rem auto; }
  @media (min-width: 475px) {
    .cta .rocket {
      flex: 0 1 auto; } }
  .cta .rocket img {
    width: 100%; }
.cta form {
  margin: 32px auto;
  margin: 2rem auto;
  vertical-align: top; }
  @media (min-width: 475px) {
    .cta form {
      flex: 1 1 auto;
      padding-left: 48px;
      padding-left: 3rem; } }
  .cta form label {
    display: block;
    text-align: left;
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2.6154rem; }
  .cta form .email {
    display: block;
    font-size: 1.6154rem;
    padding: 8px;
    padding: 0.5rem;
    margin-top: 16px;
    margin-top: 1rem;
    width: 100%;
    max-width: 480px;
    max-width: 30rem; }
  .cta form .button {
    display: block;
    font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
    font-weight: 400;
    background-color: #b93c2f;
    border-radius: 5px;
    padding: 16px;
    padding: 1rem;
    margin-top: 16px;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 5px #222222;
    line-height: 1rem;
    max-width: 100%; }
    @media (min-width: 400px) {
      .cta form .button {
        font-size: 1.6154rem; } }

.me {
  float: left;
  width: 50%;
  max-width: 200px;
  margin: 16px;
  margin: 1rem;
  border: 1px solid #c7c8c9; }
