@import 'colors';
@import 'fonts';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    @include whitney;
    background-image: url("grey.png");
    background-image: url("old_mathematics.png");
//    background-image: url("stardust.png");
}

@mixin clearfix {
    &::after {
        display: table;
        content: " ";
        clear: both;
    }
}

header {

    padding: 3rem 0 2rem 0;

    background-image: url("background.png");
    background-repeat: repeat-x;
    background-attachment: fixed;

    
    h1 {
        @include archer;
        width: 100%;
        margin: 0 auto;
        max-width: 42rem;
        margin: 0 auto;
        font-size: $font-size-2;
        text-align: left;
        padding: 0 1rem;
        color: $dark-complementary-color;

        span {
            display: block;
            @include tungsten;
            font-weight: 700;
            text-transform: uppercase;
            font-size: $font-size-4;
        }
    }

}

.banner {
//    margin-bottom: 5rem;

    .float {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    h2 {
        @include tungsten;
        font-size: 2rem;
        font-weight: 400;
        padding: 0 1rem;
        text-transform: uppercase;
        width: 8rem;
        line-height: 1.3em;
        flex: 2 1 0;
        max-width: 345px;
        text-shadow: 1px 1px $rocket-grey;
        color: $dark-complementary-color;
    }
    
    .rocket {
        max-width: 215px;
        flex: 1 1 auto;
        padding: 2rem 1rem;
    }
}

main {
    width: 100%;
    margin: 0 auto;
    max-width: 42rem;
}

h2, p {
    color: $dark-complementary-color;
    font-size: $font-size-2;
}

h2 {
    font-size: $font-size-3;
}

p {
    width: 100%;
    line-height: 1.4em;
    margin: 1rem 0;
}

em {
    font-weight: 600;
}


.cta {
    form {
        display: none;
    }
}

@media screen and (min-width: 400px) {
    .banner h2 {
        font-size: $font-size-4;
    }
}