body {
  font-family: 'Whitney SSm A', 'Whitney SSm B', verdana, sans-serif;
  font-weight: 400; }

main {
  width: 40rem;
  margin: 0 auto; }

h1, h2 {
  font-family: 'Archer A', 'Archer B';
  font-weight: 500;
  font-style: italic; }

h1, h2.launch {
  color: #3e75ab;
  font-size: 4.2308rem;
  margin: 4rem 0; }

h1 {
  text-align: center; }

h2 {
  margin: 3rem 0;
  font-size: 2.6154rem;
  color: #222222; }

p {
  width: 30rem;
  line-height: 1.4em;
  margin: 1rem 0; }

em {
  font-weight: 600; }
