body {
  background-image: url("../old_mathematics.png"); }

div.container {
  width: 100%;
  text-align: center; }
  div.container figure {
    width: 100px;
    margin: 0 auto; }
    div.container figure img {
      width: 100%; }

h1, p, iframe {
  width: 100%;
  text-align: center;
  color: #371211; }

iframe {
  display: block;
  margin: 1rem auto; }

p {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 500;
  font-size: 1.6154rem;
  margin: 1rem initial; }

h1 {
  font-family: 'Tungsten A', 'Tungsten B', verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: 2rem auto;
  font-size: 6.8462rem; }

.emphasis {
  font-family: 'Archer A', 'Archer B', georgia, serif;
  font-weight: 800;
  font-style: italic;
  color: #b93c2f; }
