$small-width: 19rem;
$medium-width: 530px;
$large-width: 737px;

@mixin centered {
    max-width: 43rem;
    margin: 0 auto;
}

@mixin clear {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin breakpoint($point) {
  @if $point == big {
    @media (min-width: 475px) { @content; }
  }
  @else if $point == bigger {
    @media (min-width: 530px) { @content; }
  }
  @else if $point == biggest {
    @media (min-width: 750px) { @content; }
  }
  @else if $point == huge {
      @media (min-width: 1250px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 400px) { @content; }
  }
  @else if $point == tiny {
    @media (max-width: 320px) { @content; }
  }
}

@mixin button {
    @include tungsten;
    background-color: $complementary-color;
    border-radius: 5px;
    padding: 16px;
    padding: 1rem;
    margin-top: 16px;
    margin-top: 1rem;
    text-align: center;
    font-size: $font-size-2;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 5px $black;
    line-height: 1rem;
    max-width: 100%;
}
.button {
    @include button;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

.drip-tab-container {
    @include archer;
}

ul {
    padding-left: 0;
    margin: 0;
}

h2, h3, p {
    line-height: 1.3em;
}

figure, h1, h2, h3, h4, p, pre, li, body {
    @include archer;
    font-size: $font-size-1;
    color: $black;
    margin: 0;
    font-style: normal;
}

img {
    max-width: 100%;
}

a {
    color: $dark-base-color;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: $base-color;
}

#sharing {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
}

