@import "form";


.sketching {
    h3 {
        @include tungsten;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        font-size: $font-size-3;
        color: $black;
        padding-bottom: 1rem;
    }

    figure, p {
        max-width: 300px;
        margin: 0 auto;
    }
    figure {
        padding-bottom: 1rem;
        img {
            filter: drop-shadow(0px 2px 4px $black);
        }
    }
    p {
        margin: 1rem 0;
    }
}
