@import "typography";
@import "colors";
@import "base";
@import "banner";

div.products {
    box-shadow: inset 0 6px 6px -6px $black;
}

div.resources {

    hr {
        margin: .5rem 0;
        @include breakpoint(bigger) {
            margin: 1rem 0;
        }
        border-top: 1px solid $rocket-grey;
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
    }
    p {
        @include archer;
        @include clear;
    }
    figure {
        width: 75px;
        height: 75px;
        padding-top: .5rem;
        @include breakpoint(huge) {
            width: 100px;
        }

        float: left;
        padding-right: .75rem;
        img {
            width: 100%;
        }
    }

    .featured {

        margin: 0 auto;
        padding-top: 2rem;
        max-width: $small-width;
        @include clear;

        hr {
            //double thick hr
            border-bottom: 1px solid;
            border-color: $lighter-complementary-color;
        }
        
        h2 {
            text-align: center;
            font-size: $font-size-3;
            @include breakpoint(bigger) {
                font-size: $font-size-4;
            }
            @include breakpoint(huge) {
                font-size: $font-size-5;
            }

            color: $dark-base-color;
            @include tungsten;
            text-transform: uppercase;
        }

        .featured-cta {
            @include button;
            font-size: 1.5em;
            display: flex;
            justify-content: flex-start;
            clear: both;
            max-width: 12rem;
            margin-left: auto;

            @include breakpoint(bigger) {
                padding: 1.5rem;
                font-size: 2em;
                max-width: 17rem;
            }
            span {
                flex: 1 0 auto;
                text-decoration: underline;
            }
            span.raquo {
                font-size: 3em;
                margin-top: -.06em;
                text-decoration: none;
            }
        }

        @include breakpoint(bigger) {
            max-width: $medium-width;
            figure {
                width: 150px;
                height: 150px;
                padding-right: 1.5rem;
            }
            
            p {
                font-size: $font-size-2;
            }
        }
        @include breakpoint(huge) {
            max-width: $large-width;
            figure {
                width: 300px;
                height: 300px;
            }
            p {
                font-size: $font-size-3;
            }
        }
    }

    .ginormous {
        h2 {
            span {
                line-height: 1.1em;
                display: block;
            }
            span.first {
                letter-spacing: 2px;
                font-weight: 700;
            }
            span.second {
                @include nitro;
                font-size: .67em;
                color: $complementary-color;
            }
            span.third {
                font-size: .7em;
            }
        }
    }
    
    .older {
        max-width: $small-width;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(bigger) {
            max-width: $medium-width;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        @include breakpoint(huge) {
            // the width of the individual resources, * 3
            max-width: (($large-width / 2) - 16) * 3
        }

        > div {

            padding: 1rem 0;

            h3 {
                @include archer-bold;
                font-size: $font-size-1;
                a {
                    text-decoration: underline;
                    color: $darker-base-color;
                }
            }

            @include breakpoint(bigger) {
                padding: 1rem;
                width: ($medium-width / 2) - 16; //($medium-width / 2) - 16px for padding (breakpoint width)
            }
            @include breakpoint(huge) {
                width: ($large-width / 2) - 16; //( $large-width / 2) - 16px for padding (breakpoint width)
                h3 {
                    font-size: $font-size-2;
                }
                p {
                    font-size: $font-size-2;
                }
            }

        }
    }
}

h2.products, h2.resources, h2.about {
    padding-bottom: 3rem;
    font-size: $font-size-1;
    color: $black;
    @include archer-bold;
    text-align: center;
    @include breakpoint(bigger) {
        font-size: $font-size-2;
    }
}

div.products {

    width: 100%;
    background-image: url("/images/old_mathematics.png");
    padding: 4rem 0;

    > div {
        max-width: 100%;
        padding: 1rem 1rem 2rem 1rem;
        background: white;
        border: 1px solid $rocket-grey;
        margin: 0 auto 2rem auto;

        &:last-of-type {
            //stacks with padding to create double padding,
            //so turn it off
            margin-bottom: 0;
        }

        @include breakpoint(bigger) {
            border-radius: 4px;
            max-width: $medium-width;
        }

        @include breakpoint(huge) {
            max-width: $large-width;
            padding: 2rem;
        }
    }

    figure {
        padding: .5rem 0 1rem 0;
        text-align: center;
    }

    h3 {
        @include tungsten;
        text-transform: uppercase;
        font-size: $font-size-2;
        text-align: center;
        color: $black;
    }

    .sketching {
        figure {
            img {
                max-width: 150px;
                filter: drop-shadow(0px 2px 4px $black);
            }
        }
    }

    .angular-escape figure.vertical {
        display: none;
    }

    p {
        padding-bottom: 1rem;
    }

    .product-cta {
        @include button;
        font-size: 1em;
        line-height: 1.1em;
        margin-left: auto;
        margin-right: auto;
        max-width: 15rem;

        display: flex;
        justify-content: flex-start;
        align-content: center;
        clear: both;

        span {
            flex: 1 1 auto;
            text-decoration: underline;
        }
        span.raquo {
            font-size: 4em;
            flex: 0 1 auto;
            margin-top: -.06em;
            text-decoration: none;
        }
        @include breakpoint(bigger) {
            font-size: 1.5em;
            max-width: 23rem;
        }
        @include breakpoint(huge) {
            font-size: 1.75em;
            margin-right: 0;
        }
    }

    .newsletter .product-cta {
        @include breakpoint(bigger) {
            max-width: 28rem;
        }
        margin-top: 2rem;
    }

    .blog .product-cta {
        @include breakpoint(bigger) {
            max-width: 20rem;
        }
        margin-top: 2rem;
    }

    //div.products
    @include breakpoint(bigger) {

        > div {
            @include clear;
        }
        h3 {
            font-size: $font-size-4;
            text-align: center;
            padding-bottom: 1rem;
        }
        p {
            font-size: $font-size-2;
        }
        figure {
            float: left;
            padding-right: 1.5rem;
        }
        .angular-escape figure.horizontal {
            display: none;
        }
        .angular-escape figure.vertical {
            display: block;
            width: 100px;
        }
    }

}

div.about {

    max-width: $small-width;
    margin-left: auto;
    margin-right: auto;

    iframe {
        padding: 0;
    }

    figure {
        max-width: 400px;
        padding: 1rem;
        margin: 0 auto;
        img {
            width: 100%;
            border: 1px solid $base-color;
        }
    }

    p {
        padding-bottom: 1rem;
    }

    @include breakpoint(bigger) {
        max-width: $medium-width;
        p {
            font-size: $font-size-2;
        }
    }
}

.separator {
    width: 25%;
    padding: 2rem 0;
    margin: 0 auto;
}
