@import "typography";
@import "colors";
@import "base";

header {
    width: 100%;
    background-image: url("/images/old_mathematics.png");
    img {
        padding: 1rem;
        display: block;
        margin: 0 auto;
    }
}

h1 {
    @include tungsten;
    text-transform: uppercase;
    color: $darker-base-color;
    font-size: $font-size-3;
    text-align: center;
    letter-spacing: .1em;
    padding-bottom: 2rem;
}

h2, p, h3, figure {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3em;
}

.ginormous {
    padding: 2rem 0;
    img {
        display: none;
    }
    h2 {
        font-size: $font-size-3;
        color: $dark-base-color;
        @include tungsten;
        text-transform: uppercase;
        span {
            line-height: 2rem;
            display: block;
        }
        span.first {
            letter-spacing: 2px;
            font-weight: 700;
        }
        span.second {
            @include nitro;
            font-size: 1.8rem;
            color: $complementary-color;
        }
        span.third {
            font-size: 1.9rem;
        }
    }

    p {
        @include archer-italic;
    }
}

.older {
    > div {
        padding-bottom: 1rem;

        h3 {
            @include tungsten;
            font-size: $font-size-2;
            text-transform: uppercase;
            a {text-decoration: underline;}
        }

        figure {
            display: none;
        }

        p {
            @include archer-italic;
        }
    }
}