@import "typography";
@import "colors";
@import "base";

header {
    width: 100%;
    background-image: url("/images/old_mathematics.png");
    img {
        padding: 1rem;
        display: block;
        margin: 0 auto;
    }
}

h1 {
    @include tungsten;
    text-transform: uppercase;
    color: $darker-base-color;
    font-size: $font-size-3;
    text-align: center;
    letter-spacing: .1em;
    padding-bottom: 2rem;
}

.resources > div, div.products > div, .about {
    max-width: 19rem;
    @include breakpoint(bigger) {
        max-width: 530px;
    }
    margin-left: auto;
    margin-right: auto;
}

h2, h3, p {
    line-height: 1.3em;
}

.resources {
    hr {
        margin: .5rem 0;
        @include breakpoint(bigger) {
            margin: 1rem 0;
        }
        border-top: 1px solid $rocket-grey;
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
    }
    p {
        @include archer;
        @include clear;
    }
    figure {
        width: 75px;
        height: 75px;
        padding-top: .5rem;
        @include breakpoint(huge) {
            width: 100px;
        }

        overflow: hidden;
        float: left;
        padding-right: .75rem;
        img {
            width: 100%;
        }
    }

    .ginormous {

        @include breakpoint(bigger) {
            figure {
                width: 150px;
                height: 150px;
                padding-right: 1.5rem;
            }
            
            p {
                font-size: $font-size-2;
            }
        }
        @include breakpoint(huge) {
            max-width: 736px;
            figure {
                width: 300px;
                height: 300px;
            }
            p {
                font-size: $font-size-3;
            }
        }

        padding-top: 2rem;
        hr {
            //double thick hr
            border-bottom: 1px solid;
            border-color: $lighter-complementary-color;
        }
        h2 {
            text-align: center;
            font-size: $font-size-3;
            @include breakpoint(bigger) {
                font-size: $font-size-4;
            }
            @include breakpoint(huge) {
                font-size: $font-size-5;
            }

            color: $dark-base-color;
            @include tungsten;
            text-transform: uppercase;
            span {
                line-height: 1.1em;
                display: block;
            }
            span.first {
                letter-spacing: 2px;
                font-weight: 700;
            }
            span.second {
                @include nitro;
                font-size: .67em;
                color: $complementary-color;
            }
            span.third {
                font-size: .7em;
            }
        }
    }
    
    .older {
        @include breakpoint(bigger) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        @include breakpoint(huge) {
            max-width: 1056px;
        }
        > div {
            padding: 1rem;
            h3 {
                @include archer-bold;
                font-size: $font-size-1;
                a {
                    text-decoration: underline;
                    color: $darker-base-color;
                }
            }
            @include breakpoint(bigger) {
                width: 249px; //(530px / 2) - 16px for padding (breakpoint width)
            }
            @include breakpoint(huge) {
                width: 352px; //( 736px / 2) - 16px for padding (breakpoint width)
                h3 {
                    font-size: $font-size-2;
                }
                p {
                    font-size: $font-size-2;
                }
            }

        }
    }
}

h2.products, h2.resources, h2.about {
    padding-bottom: 3rem;
    font-size: $font-size-1;
    color: $black;
    @include archer-bold;
    text-align: center;
    @include breakpoint(bigger) {
        font-size: $font-size-2;
    }
}

div.products {

    width: 100%;
    background-image: url("/images/old_mathematics.png");
    padding: 4rem 0;

    > div {

        padding: 1rem;
        @include breakpoint(huge) {
            max-width: 736px;
            padding: 2rem;
        }

        border: 1px solid $rocket-grey;
        border-radius: 4px;
        background: white;

        margin: 0 auto 2rem auto;
        &:last-of-type {
            //stacks with padding to create double padding,
            //so turn it off
            margin-bottom: 0;
        }

        transition: all .25s linear;
    }

    figure {
        padding: .5rem 0 1rem 0;
        text-align: center;
    }

    h3 {
        @include tungsten;
        text-transform: uppercase;
        font-size: $font-size-2;
        text-align: center;
        color: $black;
    }

    .sketching {
        figure img{
            max-width: 150px;
            filter: drop-shadow(0px 2px 4px $black);
        }
    }

    .angular-escape figure.vertical {
        display: none;
    }

    p {
        padding-bottom: 1rem;
    }

    @include breakpoint(bigger) {

        > div {
            @include clear;
        }
        h3 {
            font-size: $font-size-4;
            text-align: center;
            padding-bottom: 1rem;
        }
        p {
            font-size: $font-size-2;
        }
        figure {
            float: left;
            padding-right: 1.5rem;
        }
        .angular-escape figure.horizontal {
            display: none;
        }
        .angular-escape figure.vertical {
            display: block;
            width: 100px;
        }
    }

}

.about {

    figure {
        max-width: 400px;
        padding: 1rem;
        margin: 0 auto;
        img {
            width: 100%;
            border: 1px solid $base-color;
        }
    }

    p {
        padding-bottom: 1rem;
    }

    @include breakpoint(bigger) {
        p {
            font-size: $font-size-2;
        }
    }
}

.vertical-elipse {
    font-size: 5rem;
    @include tungsten;
    @include breakpoint(bigger) {
        font-size: 8rem;
    }
    color: $rocket-grey;
    text-align: center;
    padding: 2rem 0;
}
