@import "typography";
@import "colors";
@import "base";

body {
    background: url("/images/old_mathematics.png");
}

h1 {
    @include tungsten;
    font-size: $font-size-4;
    @include breakpoint(bigger) {
        font-size: $font-size-5;
    }
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: $darker-base-color
}

h2 {
    font-size: $font-size-1;
    @include breakpoint(bigger) {
        font-size: $font-size-2;
    }
    color: $dark-base-color
}

.content {
    @include centered;
    background: $white;
    padding: 2rem;
    @include breakpoint(bigger) {
        padding: 2rem;
    }
}

.free {
    background: $darker-base-color;
    text-transform: uppercase;
    color: $white;
    padding: .5rem;
    font-size: $font-size-2;
    text-align: center;
    width: 100%;
}

.event {
    background: $lighter-complementary-color;
    padding: 1rem;
    border-radius: 4px;

    @include breakpoint(bigger) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .day {
            font-weight: 700;
            font-size: $font-size-2;
            padding: 0;
        }
        .time {
            font-size: $font-size-1;
            padding: 0;
        }

        @include breakpoint(bigger) {
            width: 18rem;
        }

    }
    form {
        padding-top: 1rem;
        width: 100%;
        max-width: 19rem;
        label, input {
            display: block;
        }
        label {
            font-size: $font-size-2;
        }
        input.email {
            width: 100%;
            max-width: 19rem;
            padding: 1rem;
        }

        @include breakpoint(bigger) {
            padding-top: 0;
            padding-left: 1rem;
        }
    }
}

.details {
    .limited {
        padding-top: 1rem;
        @include archer-italic;
    }
    padding: 2rem 0;
}

.hosts {
    > div {
        @include breakpoint(bigger) {
            figure {
                padding-right: 1rem;
                padding-bottom: 1rem;
                padding-top: 2rem;
                float: left;
                max-width: 10rem;
                img {
                    padding: .5rem;
                    border: 1px solid $rocket-grey;
                }
            }
        }
    }
}

.newversion {
    
    h1 {
        padding-bottom: 2rem;
    }

    .subheader {
        
    }

    h2 {
        font-size: $font-size-2;
        @include breakpoint(bigger) {
            font-size: $font-size-3;
        }
        color: $dark-base-color
    }
    h2.free {
        color: $white;
        font-size: $font-size-1;
        @include breakpoint(bigger) {
            font-size: $font-size-2;
        }
    }
}