.animate h1 span{
    -webkit-animation: 
    hide-span 1.5s,
    fade 2s 1.5s;

    -o-animation: 
    hide-span 1.5s,
    fade 2s 1.5s;

    -moz-animation: 
    hide-span 1.5s,
    fade 2s 1.5s;

    animation: 
    hide-span 1.5s,
    fade 2s 1.5s;
}

.animate h1{
    -webkit-animation: 
    header-h1 1.5s steps(1);

    -o-animation: 
    header-h1 1.5s steps(1);

    -moz-animation: 
    header-h1 1.5s steps(1);

    animation: 
    header-h1 1.5s steps(1);
}

@-webkit-keyframes header-h1 {
    from {
        left: 150px;
    }
    50%{
        left: 80px;
    }
    80%{
        left: 30px;
    }
    95%{
        left: 5px;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes hide-span {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}


/* opera, mozilla */
@keyframes header-h1 {
    from {
        left: 150px;
    }
    50%{
        left: 80px;
    }
    80%{
        left: 30px;
    }
    95%{
        left: 5px;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide-span {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

