body{
    font-family: "proxima-nova", verdana, sans-serif;
}

.emphatic{
    color: #ff0023;
}

.cool{
    color: #54CBE3;
    font-weight: 600;
}

.dark{
    padding-left: 1em;
    padding-right: 1em;
    background-color: #333333;
    color: #dddddd;
}

.light{
    padding-left: 1em;
    padding-right: 1em;
    color: #333333;
}

.triangle-down{
    position: relative;
}

.triangle-down:after, .triangle-down:before{
    content: "";
    height: 2em;
    position: absolute;
    left: 0;
    right: 50%;
 }


/******************************
 * start header styles
 */

header{
    margin-top: 0;
    padding-top: 4em;
    padding-bottom: 4em;
/*    background-image: -webkit-linear-gradient(bottom, #333333, white 1.5em);*/
}

header .triangle-down{
    margin: 0 -1em;
    top: 2em;
}

header .triangle-down:before {
    background: linear-gradient(to right top, #333333 50%, white 55%);
}

header .triangle-down:after {
    left: 50%;
    right: 0;
    background: linear-gradient(to left top, #333333 50%, white 55%);
}


h1,
h2.big{
    font-size: 3em;
    text-align: center;
    line-height: 1.125em;
}

h1 span{
    display: block;
    font-size: 1.25em;
    letter-spacing: .1em;
    font-weight: 600;
    line-height: 1.25em;
}
/*
 * end header styles
 ******************************/

/******************************
 * first dark section
 */
div.dark .triangle-down{
    margin: 0 -1em;
}

div.dark .triangle-down:before {
    background: linear-gradient(to right top, white 50%, #333333 55%);
}

div.dark .triangle-down:after {
    left: 50%;
    right: 0;
    background: linear-gradient(to left top, white 50%, #333333 55%);
}

/*
 * end first dark section
 ******************************/



.bottomspace{
    padding-bottom: 32px;
}
.topspace{
    padding-top: 32px;
}

h2{
    font-size: 1.75em;
    line-height: 1.343em;
}
h2.big{
    padding: 64px 0;
}

p,
ul,
li{
    padding-bottom: 1em;
}

p,
ul li{
    line-height: 1.4375em;
}

ul li{
    position: relative;
    margin-left: 1.5em;
}

ul li:before{
    content: " \00BB\00BB  ";
    position: absolute;
    left: -1.5em;
    top: -.15em;
}