body{
    font-family: "proxima-nova", verdana, sans-serif;
    max-width: 700px;
    overflow-x: hidden;
    margin: 0 auto;
}

.center{
    max-width: 500px;
    margin: 0 auto;
}

.emphatic{
    color: #ff0023;
}

.cool{
    color: #54CBE3;
    font-weight: 600;
}

.dark, .light{
    padding-left: 1.4em;
    padding-right: 1.4em;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto;
}

.dark{
    background-color: #333333;
    color: #dddddd;
}

.light{
    color: #333333;
}


div.triangle{
    text-align: center;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

span.triangle{
    color: white;
    font-size: 8vw;
    display: inline-block;
    line-height: 70%;
    -webkit-transform: scaleX(18);
    -moz-transform: scaleX(18);
    -o-transform: scaleX(18);
    transform: scaleX(18);
    background-color: #333333;
}

span.triangle.inverse{

    color: #333333;
    background-color: white;
}

span.triangle.blue{
    color: #54CBE3;
    background-color: white;
    -webkit-transform: scaleX(15) rotate(180deg);
    -moz-transform: scaleX(15) rotate(180deg);
    -o-transform: scaleX(15) rotate(180deg);
    transform: scaleX(15) rotate(180deg);
}


/******************************
 * start header styles
 */

header{
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

h1{
    position: relative;
}

h1,
h1 span,
h2.big,
h2.title{
    font-size: 3em;
    line-height: 1.125em;
}

h1,
h2.big{
    text-align: center;
}

h1 span{
    display: block;
    font-size: 1.25em;
    font-weight: 600;
}
/*
 * end header styles
 ******************************/

/******************************
 * first dark section
 */




/*
 * end first dark section
 ******************************/


.bottomspace{
    padding-bottom: 32px;
}
.topspace{
    padding-top: 2em;
}

h2{
    font-size: 1.75em;
    line-height: 1.343em;
}

h2.big,
h2.title,
div.email{
    margin-top: 64px;
    margin-bottom: 64px;
}
h2.title{
    margin-bottom: 0;
}
h2.title img{
    margin: 1em 0;
}

p,
li{
    padding-bottom: 1em;
}

p.last,
li.last{
    padding-bottom: 0;
}

p,
ul li{
    line-height: 1.4375em;
}

ul li{
    position: relative;
    margin-left: 1.5em;
}

ul li:before{
    content: " \00BB\00BB  ";
    position: absolute;
    left: -1.5em;
    top: -.15em;
}

/******************************
 * email form
 */

div.arrows{
    margin-bottom: 2em;
}
div.arrows img{
    max-width: 100%;
}

div.email{
    color: #222222;
    text-align: center;
}

div.email h2{
    font-weight: 600;
}

.email h2{
    margin-bottom: 1em;
}

#email input{
    font-size: 1.5em;
    padding: .5em;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .5em;
    background-color: white;
}

#email button {
    font-size: 1.75em;
    margin-top: .75em;
    background: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: .75em;
    text-align: center;
    color: #eeeeee;
}

#email button:hover {
    background: #444444;
    cursor: pointer; 
}

#email button:active {
    color: #54CBE3;
}

.light ul li:before{
    color: #54CBE3;
}


/*
 * end email form
 ******************************/

/******************************
 * start bottom section
 */
.bottom h2{
    margin-bottom: .5em;
}

.email + div + div{
    padding-top: 2%;
    background-image: -webkit-linear-gradient(top, #54CBE3, white 2%, white);
    background-image: -moz-linear-gradient(top, #54CBE3, white 2%, white);
    background-image: -o-linear-gradient(top, #54CBE3, white 2%, white);
    background-image: linear-gradient(top, #54CBE3, white 2%, white);
}

.book h2{
    text-align: center;
}
.book h2 img{
    max-width: 100%;
}

h2.quote{
    margin: 1em 0;
}

.curlystart{
    font-size: 8em;
    height: 1px;
    margin-top: .32em;
    float: left;
}

/*
 * end bottom section
 ******************************/

@media screen and (min-width: 500px){
    h1 span{
        letter-spacing: .1em;
    }
}

@media screen and (min-width: 1600px){

    body{
        font-size: 1.5em;
        max-width: 1100px;
    }

    .center{
        max-width: 700px;
    }

    .dark, .light{
        max-width: 100%;
        margin: 0;
    }

    header{
        margin-top: 0;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .topspace{
        padding-top: 3em;
    }

    h1,
    h1.span,
    h2.big,
    h2.title{
        line-height: 1.319em;
    }

    h2{
        line-height: 1.357em;
    }

    .bottomspace{
        padding-bottom: 48px;
    }

}