@import "typography";
@import "colors";
@import "base";
@import "banner";
@import "sketching-form";
@import "business-form";

p, li {
    line-height: 1.4em;
}

header {
    border-bottom: 1px solid $rocket-grey;

    h2 {
        font-size: $font-size-3;
        @include tungsten;
        text-transform: uppercase;
        color: $darker-base-color;
        line-height: 1.1em;
    }
    .byline {
        font-size: $font-size-1;
        padding: 1rem 0;
        .follow {
            padding-bottom: 1rem;
        }
    }
}

article {
    max-width: 40rem;
    padding: 1rem;
    margin: 0 auto;
}

.post {
    padding-top: 1rem;

    ul {
        padding-left: .5rem;
        @include breakpoint(bigger) {
            padding-left: 0;
        }
    }
    h2 {
        font-size: $font-size-2;
        padding: $font-size-2 0;
        color: $darker-base-color;
    }

    figure, .highlight, ul, p, li, iframe {
        padding-top: 1rem;
    }

    p, li {
        &:first-of-type {
            padding-top: 0;
        }
    }

    h2 + h2,
    h2 + p, 
    h2 + li, 
    h2 + figure, 
    h2 + ul,
    h2 + .highlight,
    h2 + iframe
    {
        padding-top: 0;
    }
}

.sharing {
    padding: 1rem 0;
}

@include breakpoint(bigger) {
    header h2 {
        font-size: $font-size-4;
    }
    p, li {
        font-size: $font-size-2;
    }
    .post h2 {
        font-size: $font-size-3;
    }
}
