<!doctype html>

<html lang="en">
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="initial-scale-1.0, width=device-width" />

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>planning for aliens</title>
    {% endif %}

    <!-- typekit -->
    <script data-cfasync="false" type="text/javascript" src="//use.typekit.net/dvh7yst.js"></script>
    <script data-cfasync="false" type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link rel="stylesheet" href="{% minified_css_file %}">
      <!--
    <link rel="alternate" type="application/rss+xml" title="rss"
          href="http://feeds.feedburner.com/planningforaliens"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/banner.css"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/post.css"/>
    <link rel="stylesheet" type="text/css" href="/css/about.css"/>
    <link rel="stylesheet" type="text/css" href="/css/error.css"/>-->


    <style>
      @import url("http://hello.myfonts.net/count/268473");
    </style>
    
    <script src="/js/modernizr.js"></script>
  </head>
  
  <body>
        
    {{ content }}

  </body>
</html>
