<!doctype html>

<html lang="en">
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>planning for aliens</title>
    {% endif %}


    <link rel="alternate" type="application/rss+xml" title="rss"
          href="http://feeds.feedburner.com/planningforaliens"/>



    <!-- h&fj -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6366632/627246/css/fonts.css" />

    {% if page.styles %}
    {% for style in page.styles %}
    <link rel="stylesheet" href="/css/{{ style }}" type="text/css"/>
    {% endfor %}
    {% endif %}

    {% if page.style %}
    <link rel="stylesheet" href="/css/{{ page.style }}" type="text/css"/>
    {% endif %}

    {% if page.external %}
    {% for script in page.external %}
    <script src="{{ script }}"></script>
    {% endfor %}
    {% endif %}

    {% if page.javascript %}
    <script src="{{ page.javascript }}"></script>
    {% endif %}


  </head>
  
  <body>
        
    {{ content }}

    <!-- Drip -->
    <script type="text/javascript">
      var _dcq = _dcq || [];
      var _dcs = _dcs || {}; 
      _dcs.account = '8233391';
      
      (function() {
      var dc = document.createElement('script');
      dc.type = 'text/javascript'; dc.async = true; 
      dc.src = '//tag.getdrip.com/8233391.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(dc, s);
      })();
    </script>

  </body>
</html>
