<!doctype html>

<html lang="en">
  <head>
    <meta charset=utf-8 />
    <meta name="viewport" content="initial-scale-1.0, width=device-width" />

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>planning for aliens</title>
    {% endif %}

    <!-- typekit -->
    <script data-cfasync="false" type="text/javascript" src="//use.typekit.net/dvh7yst.js"></script>
    <script data-cfasync="false" type="text/javascript">try{Typekit.load();}catch(e){}</script>


    <link rel="alternate" type="application/rss+xml" title="rss"
          href="http://feeds.feedburner.com/planningforaliens"/>
    {% css_asset_tag global %}
    - /_assets/reset.css
    - /_assets/main.css
    - /_assets/banner.css
    - /_assets/home.css
    - /_assets/post.css
    - /_assets/about.css
    - /_assets/error.css
    {% endcss_asset_tag %}


    <style>
      @import url("http://hello.myfonts.net/count/268473");
    </style>
    
    <script src="/js/modernizr.js"></script>
  </head>
  
  <body>
        
    {{ content }}

  </body>
</html>
