---
layout: base
---


<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="post content"><article>
  <div class="header"><header>
    <h2>{{ page.title }}</h2>
    <p class="byline">
      published <span class="pubdate">{{ page.date | date: "%m/%d/%y" }}</span> by <a class="author" href="https://twitter.com/sfioritto">{{ page.author}}</a> <span class="follow-me"><a href="https://twitter.com/sfioritto" class="twitter-follow-button" data-show-count="false">Follow @sfioritto</a></span>
    </p>
    <p class="tldr">
      {{ page.blurb }}
    </p>
    <ul id="sharing">
      <li class="float">
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="verdana"></div>
      </li>
      <li class="end float">
        <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
      <li class="clear"></li>
    </ul>
  </header></div>
  {{ content }}
  <div class="escape">
    <figure class="rocket">
      <img src="/images/rocket.png" />
    </figure>

    <form action="https://www.getdrip.com/forms/3128974/submissions"
          method="post" target="_blank" data-drip-embedded-form="3068" class="validate">
        <label for="mce-EMAIL">Email Address  </label>
      <input type="email" name="fields[email]" value=""
             class="required email" />
      <input data-drip-attribute="sign-up-button" type="submit"
             value="Start your free lessons" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
  </div>
  
</footer></div>
{% include rocket.html %}
</article></div>
<script>
  setTimeout(function(){
  var sharing = document.getElementById("sharing");
  sharing.className = "loaded";
  }, 4000);
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
