---
layout: base
style:
- blog/post.css
---

<article>

  <header>

    <h2>{{ page.title }}</h2>

    <div class="byline">
      <p class="date">
        Published
        <span class="pubdate">{{ page.date | date: "%m/%d/%y" }}</span>
        by
      <a class="author" href="https://twitter.com/sfioritto">{{ page.author }}</a>
      </p>
      <p class="follow">
      <a href="https://twitter.com/sfioritto"
         class="twitter-follow-button" data-show-count="true">Follow
      @sfioritto</a>
      </p>

    <p class="tldr">
      {{ page.blurb }}
    </p>

  </header>  

  <div class="post">
  {{ content }}
  </div>

  <div class="sharing">
    Share this article with your friends: <a  href="https://twitter.com/share" class="twitter-share-button"
    data-via="sfioritto">Tweet</a></span>
  </div>

</article>
{% include banner.html %}
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
