body{
    margin: 5% 15%;
}

body a{
    text-decoration: none;
}

div {
    margin-top: 3em;
}

.testimonials li{
    margin-top: 2em;
}
.testimonials li, p{
       width: 670px; 
}
p {
    text-align: justify;
    margin: 1em 0;
    line-height: 1.625em;
}
h1, h2.logo{
    text-align: center;
}

.contact p{
    text-align: center;
    width: 100%;
}
.images img{
    width: 50%;
}
.images{
    margin: 8em 0;
}
/*end shared*/


body{
    font-family: "brandon-grotesque", georgia, san-serif;
}

h1 {
    font-weight: 700;
    font-size: 8em;
    color: #222222;
}
h1, h2.logo{
    font-family: "estilo-pro", georgia, san-serif;
}
h2.logo{
    margin-top: -.5em;
    color: #222222;
}

h2, h3 {
    font-weight: 700;
    font-size: 2em;
    color: #383838;
}

.testimonials li{
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 2px solid #04946B;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    padding: 1em;
    background-color: #fdfdfd;
}

.phone{
    color: #04946B;
    font-size: 2em;
    font-weight: 700;
}

body{
    color: #222222;
    background-color: #F2F2F2;
}

.callout{
    color: #04946B;
    font-style: italic;
}
/*
  orange: F4921E
  grey: 858585
  light blue: C5D2DB
  dark blue: 3E6B85


grey and pink?
*/